<div class="post_change_request_directive" ng-if="vm.changes.length > 0">
    <div class="changerequest" ng-repeat="change in vm.changes">
        <span ng-switch="change.type">
            <div ng-switch-when="Edit">
                <b>Title:</b>
                <div word-based-diff source-a="change.oldTitle" source-b="change.newTitle"></div>
                <b>Description:</b>
                <pre word-based-diff source-a="change.oldDescription" source-b="change.newDescription"></pre>
            </div>
            <div ng-switch-when="Delete">
                DELETE
            </div>
            <div ng-switch-when="AddTag" ng-switch="change.classifications.length">
                <span ng-switch-when="0">
                    <b>This belongs into the context </b>
                </span>
                <span ng-switch-default>
                    <b>This is a </b>
                    <span ng-repeat="classification in change.classifications" tag-label="classification"></span>
                    <b>in the context of </b>
                </span>
                <span tag-label="change.tag">
                    <i class="fa fa-plus right"></i>
                </span>
            </div>
            <div ng-switch-when="RemoveTag" ng-switch="change.classifications.length">
                <span ng-switch-when="0">
                    <b>This does <span style="color:red;">not</span> belong into the context </b>
                </span>
                <span ng-switch-default>
                    <b>This is <span style="color:red;">not</span> a </b>
                    <span class="removed" ng-repeat="classification in change.classifications" tag-label="classification"></span>
                    <b>in the context of </b>
                </span>
                <span tag-label="change.tag"></span>
            </div>
        </span>

        <div class="votebar">
            <button class="pull-right btn btn-success btn-xs" ng-class="{ active: change.vote.weight > 0 }" type="button" ng-click="vm.voting.up(change)"><i class="fa fa-check"></i></button>
            <button class="pull-left btn btn-danger btn-xs" ng-class="{ active: change.vote.weight < 0 }" type="button" ng-click="vm.voting.down(change)"><i class="fa fa-close"></i></button>
            <vote-progress change="change"></vote-progress>
        <div>
    </div>
</div>
