@import "compass/css3/box-shadow";

.post_change_request_directive {
    .changerequest {
        border: 1px solid rgba(#666,0.4);
        background-color: rgba(white,0.4);
        margin-top:5px;
        padding: 5px;

        .title-diff {
            padding-top: 5px;
            padding-bottom: 5px;
        }

        .inactive {
            opacity: 0.5;
        }

        .votebar {
            margin-top: 10px;
            // background-color: #696969;
            // color: white;
            // border-radius: 3px; // same as up/down buttons
            .progress {
                background-color: #a4a4a4;
                margin-bottom: 5px; // originally strange 20px. is this coming from bootstrap itself?
            }
        }

        .tagchange {
            text-align: center;
        }

        .removed .tag-label {
            a {
                text-decoration: line-through;
            }
            @include box-shadow(0 0 0 5px red);
            margin-left: 5px;
            margin-right: 5px;
            margin-top: 3px;
            margin-top: 3px;
        }
    }
}
