<div class="post_change_request_directive" ng-if="vm.changes.length > 0">
    <div class="changerequest" ng-repeat="change in vm.changes">
        <div class="summary" ng-if="::vm.finished">
            <div class="pull-right">
                <i class="fa fa-user"></i>
                <a ui-sref="users.details({id: change.author.id})" ng-bind="change.author.name"></a>
            </div>
            <div show-timestamp="change.timestamp"></div>
        </div>
        <span ng-switch="change.type">
            <div ng-switch-when="Edit">
                <b>Edit Post</b>
                <ul tabset class="tabs-above">
                    <li tab>
                        <a tab-heading>Old</a>
                        <div class="post">
                            <h2 class="post-title" ng-bind="change.oldTitle"></h2>
                            <div ng-if="change.oldDescription != change.newDescription" class="post-description" markdown="change.oldDescription"></div>
                        </div>

                    </li>
                    <li tab active="true">
                        <a tab-heading>Difference</a>
                        <div class="post">
                            <h2 class="post-title">
                                <div word-based-diff source-a="change.oldTitle" source-b="change.newTitle"></div>
                            </h2>

                            <div ng-if="change.oldDescription != change.newDescription" class="post-description diff" word-based-diff source-a="change.oldDescription" source-b="change.newDescription"></div>
                        </div>
                    </li>
                    <li tab>
                        <a tab-heading>New</a>
                        <div class="post">
                            <h2 class="post-title" ng-bind="change.newTitle"></h2>

                            <div ng-if="change.oldDescription != change.newDescription" class="post-description" markdown="change.newDescription"></div>
                        </div>
                    </li>
                </ul>
            </div>
            <div ng-switch-when="Delete"><b>
                    Delete this Post
            </b></div>
            <div ng-switch-when="AddTag">
                <b>Put in context </b>
                <span tag-label="change.tag"></span>
                <span ng-if="change.classifications.length">
                    <b>as a</b>
                    <span ng-repeat="classification in change.classifications" tag-label="classification"></span>
                </span>
            </div>
            <div ng-switch-when="RemoveTag" ng-switch="change.classifications.length">
                <b>Take out of context</b>
                <span ng-switch-when="0">
                    <span class="removed" tag-label="change.tag"></span>
                </span>
                <span ng-switch-default>
                    <span tag-label="change.tag"></span>
                    <b>as a </b>
                    <span class="removed" ng-repeat="classification in change.classifications" tag-label="classification"></span>
                </span>
            </div>
        </span>

        <div class="votebar" ng-if="::!vm.finished">
            <button class="pull-right btn btn-default btn-xs" ng-class="{ active: change.vote.weight !== undefined && change.vote.weight > 0 }" type="button" ng-click="vm.voting.up(change)" data-title="Vote for accepting this change request" bs-tooltip><i class="fa fa-check text-success"></i></button>
            <button class="pull-left btn btn-default btn-xs" ng-class="{ active: change.vote.weight !== undefined && change.vote.weight < 0 }" type="button" ng-click="vm.voting.down(change)" data-title="Vote for rejecting this change request" bs-tooltip><i class="fa fa-close text-danger"></i></button>
            <vote-progress change="change"></vote-progress>
        <div>
    </div>
</div>
