<div class="post_change_request_directive" ng-if="vm.changes.length > 0">
    <div class="changerequest" ng-repeat="change in vm.changes">
        <span ng-include="vm.template"></span>

        <div class="votebar">
            <button class="pull-right btn btn-success btn-xs" ng-class="{ active: change.vote.weight > 0 }" type="button" ng-click="vm.voting.up(change)"><i class="fa fa-check"></i></button>
            <button class="pull-left btn btn-danger btn-xs" ng-class="{ active: change.vote.weight < 0 }" type="button" ng-click="vm.voting.down(change)"><i class="fa fa-close"></i></button>
            <vote-progress change="change"></vote-progress>
        <div>
    </div>
</div>
