@import "compass/css3/flexbox";

#branch_component {
    padding: 25px;
    width: 100%;
    .branch_view {
        line, path {
            &.svglink {
                fill: none;
                stroke: $graph_link_color;
                stroke-width: 1;
                stroke-linecap: round;
            }
        }
        @include display-flex(flex);
        @include flex-wrap(wrap);
        .branch_graph {
            padding: 10px;
            padding-top: 22px;

        }
        .discourse_node_list {
            padding: 10px;
        }
    }
}
