@import "compass/css3/flexbox";

#branch_component {
    padding: 25px;
    height: 100%;
    .branch_view {
        height: 100%;
        .graph_network {
            padding: 10px;
            height: 100%;
            width: 20%;
        }
        .discourse_node_list {
            padding: 10px;
        }
        @include display-flex(flex);
        @include flex-wrap(wrap);
    }
}
