<div class="discourse_node_list">
    <div class="drop_post_container" ui-on-Drop="vm.nodeModel.add($data)" drop-validate="vm.nodeModel.canAdd($data)" drop-channel="node,hyper_node,scratch_node">
        <div ng-if="vm.isLoading" class="la-ball-triangle-path la-dark la-relative">
            <div></div>
            <div></div>
            <div></div>
        </div>
        <div class="node_model_list" ng-switch="::vm.nodeModel.isNested">
            <div ng-switch-when="true">
                <div ng-repeat="node in vm.nodeModel.list track by node.id">
                    <div class="list-item">
                        <span ng-if="vm.templateBefore" ng-include="vm.templateBefore"></span>
                        <span class="list-item-small-post" small-post node="node">
                            <div class="inner-list" ng-repeat="nested in node.nestedNodeLists[vm.nodeModel.listId]" discourse-node-list node-model="nested.model"></div>
                        </span>
                        <span ng-if="vm.templateAfter" ng-include="vm.templateAfter"></span>
                    </div>
                </div>
            </div>
            <div ng-switch-default>
                <div ng-repeat="node in vm.nodeModel.list track by node.id" class="list-item ng-trans ng-trans-scale-up ease">
                    <span ng-if="vm.templateBefore" ng-include="vm.templateBefore"></span>
                    <span class="list-item-small-post" small-post node="node"></span>
                    <span ng-if="vm.templateAfter" ng-include="vm.templateAfter"></span>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>
