@import "compass/css3/flexbox";

.discourse_node_list {
    .node_dispatcher {
        & > div {
            //TODO: reverts the node padding
            margin-left: -8px !important;
        }
    }
}

.discourse_node_list_horizontal {
    .discourse_node_list {
        .node_model_list {
            padding: 6px;
            @include display-flex(flex);
            @include flex-wrap(wrap);
            @include justify-content(flex-start);
            &>div {
                width: 100%;
            }
        }
    }
}
.discourse_node_list_vertical {
    .discourse_node_list {
        .node_model_list {
            padding: 6px;
        }
    }
}
