<div id="focus_component">
    <div tabset class="tabs-left">
        <div tab>
            <div tab-heading>
                <i class="fa fa-sitemap"></i>
            </div>
            <div focus-graph graph="vm.component" root-id="vm.id"></div>
        </div>
        <div tab>
            <div tab-heading>
                <i class="fa fa-th"></i>
            </div>
            <div focus-neighbours graph="vm.component" root-id="vm.id"></div>
        </div>
        <div tab>
            <div tab-heading>
                <i class="fa fa-code-fork"></i>
            </div>
            <div focus-branches graph="vm.component" root-id="vm.id"></div>
        </div>
        <div tab>
            <div tab-heading>
                <i class="fa fa-columns"></i>
            </div>
            <div focus-columns graph="vm.component" root-id="vm.id"></div>
        </div>
    </div>
</div>
