@import "compass/css3/flexbox";

#search_component {
    background: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 2px 2px 2px #aaa;
    position: absolute;
    left: 10px;
    right: 10px;
    bottom: 20px;
    top: 50px;
    height: 90%;
    z-index: $zindex_search;
    & > button {
        padding: 5px;
    }
    #search_content {
        height: 100%;
        @include display-flex(flex);
        #search_results {
            overflow: auto;
            padding: 30px;
            height: 100%;
            width: 100%;
            .discourse_post.node {
                margin: 3px;
            }
        }
        #search_options {
            .label_like,label {
                line-height: 30px;
            }
            background: #eee;
            width: 220px;
            height: 100%;
            padding: 10px;
            border-bottom-left-radius: 10px;
        }
        .search_status {
            font-size: 30px;
            color: #aaa;
            margin-left: 20px;
        }
    }
}
