<div ng-if="vm.search.resultsVisible" class="ng-trans ng-trans-slide-up ease" id="search_component">
    <button class="close view_close_button pull-right" ng-click="vm.search.resultsVisible = false" type="button" aria-label="Close " data-title="hide scratchpad" bs-tooltip animation=""><span aria-hidden="true">&times;</span></button>
    <div id="search_content">
        <div id="search_options">
            <div class="row">
                <label class="col-md-8">Description</label>
                <span switch class="col-md-4" ng-model="vm.search.searchDescriptions" ng-change="vm.search.triggerSearch()"></span>
            </div>
            <hr>
            <div class="row">
                <label class="col-md-8">Tags</label>
            </div>
            <div class="row">
                <span class="label_like col-md-8">Disjunction</span>
                <span switch class="col-md-4" ng-model="vm.search.tagOr" ng-change="vm.search.triggerSearch()"></span>
            </div>
            <div edit-taglist tags="vm.search.selectedTags" class="row edit_tags" existing-only="true" on-change="vm.search.triggerSearch()"></div>
            <div id="search_options_bottom">
                <div ng-show="vm.infinite.noMore" class="row">
                    <label class="col-md-5">#Results</label>
                    <span class="col-md-7">{{vm.search.results.length}}</span>
                </div>
                <div ng-class="{inactive: vm.search.unlimited}">
                    <div class="row">
                        <label class="col-md-5">Page</label>
                        <span class="number_value col-md-7">{{vm.infinite.currentPage}} / {{vm.infinite.maxPage == -1 ? vm.search.page + '…' : vm.infinite.maxPage}}</span>
                    </div>
                    <div class="row">
                        <span class="label_like col-md-5">Size</span>
                        <span class="col-md-7">
                            <input type="number" class="input" min="1" max="500" ng-model="vm.search.size" ng-change="vm.search.triggerSearch()" ng-disabled="vm.search.unlimited">
                        </span>
                    </div>
                </div>
                <div class="row">
                    <span class="label_like col-md-6">Unlimited</span>
                    <span switch class="col-md-5" ng-model="vm.search.unlimited" ng-change="vm.search.triggerSearch()"></span>
                </div>
            </div>
        </div>
        <div id="search_results_view">
            <!-- TODO: this does break the animation of the search overlay. but the ng-if here would be good, as the small-post would then not trigger any watchers. -->
            <!-- <div ng-if="vm.search.resultsVisible"> -->
            <span class="search_indicator" ng-show="vm.search.results.length === 0">
                <span ng-show="vm.search.waiting" class="search_status">Searching…</span>
                <span ng-hide="vm.search.waiting" class="search_status">No results.</span>
            </span>
            <div id="search_results" infinite-scroll="vm.search.loadMore()" infinite="vm.infinite" promise="vm.search.results">
                <div ng-repeat="result in vm.search.results track by result.id" small-post node="result"></div>
                <button class="btn btn-default pull-right" ng-click="vm.infinite.manualLoad()" ng-disabled="vm.infinite.loading" ng-hide="vm.infinite.noMore">More</button>
            </div>
            <!-- </div> -->
        </div>
    </div>
</div>
