<ul class="dropdown-menu auth-dropdown" ng-switch="vm.Auth.isLoggedIn" class="uib-dropdown-menu" aria-labelledby="simple-dropdown" ng-click="$event.stopPropagation()">
    <li>
        <form ng-switch-when="false" name="signForm" ng-submit="vm.authenticate(registerUser)" class="navbar-form navbar-right">
            <input class="form-control" size="10" name="username" type="text" ng-model='vm.newUser.identifier' placeholder="Username" required>
            <input class="form-control" size="10" name="password" type="password" ng-model='vm.newUser.password' placeholder="Password" required>
            <input type="submit" value="Login" ng-click="registerUser = false" class="btn btn-default" ng-disabled="signForm.$invalid">
            <input type="submit" value="Register" ng-click="registerUser = true" class="btn btn-default" ng-disabled="signForm.$invalid">
        </form>
        <form ng-switch-default ng-submit="vm.logout()" class="navbar-form navbar-right">
            <a ui-sref="users.details({id: vm.Auth.current.userId})" style="padding-right: 10px" ng-click="$hide()">Profile</a>
            <input type="submit" value="Logout" class="btn btn-default">
        </form>
    </li>
</ul>
