@import "globals";

#navigation {
    background-color: $nav_normal_background;
    border-width: 0px;
    ul.nav li.dropdown:hover > ul.dropdown-menu {
        display: block;
    }
    color: $nav_normal_color;
    a:link, a:hover, a:visited, a.active {
        color: $nav_normal_color !important;
    }
    .nav {
        a:hover {
            color: $nav_hover_color !important;
            background-color: $nav_hover_background !important;
            opacity: 0.7;
            &.active {
                opacity: 1;
            }
        }
        a.active {
            color: $nav_active_color !important;
            background-color: $nav_active_background !important;
        }
    }
    #node_search_form {
        width: 200px;
        margin-top: 0px;
        margin-bottom: 0px;
        height: 50px;
        .input-group {
            margin-top: 8px;
            margin-bottom: 8px;
            height: 34px;
        }
    }
    .search_results_visible {
        #node_search_form {
            background-color: $nav_active_background !important;
        }
    }
    .search_results_visible, .has_fullscreen {
        .nav {
            a.active {
                color: $nav_normal_color !important;
                background-color: transparent !important;
            }
        }
    }
    #navigation_sign_forms {
        form {
            margin-right: 0px;
        }
        form.ng-leave {
            display: none;
        }
    }
    #edit_modal_toggle {
        margin-right: 10px;
        margin-left: -6px;
    }
}

