@import "globals";
@import "bootstrap/variables";

#navigation {
    .container-fluid {
        padding-left: 0;
    }
    .navbar-brand {
        margin-left: 0px;
    }

    background-color: $nav_normal_background;
    border-width: 0px;
    border-bottom: 1px solid $nav_border_color;
    color: $nav_normal_color;

    .navpagelinks a:link, .navpagelinks a:hover, .navpagelinks a:visited, .navpagelinks a.active,
     a.dropdown-toggle:link, a.dropdown-toggle:hover, a.dropdown-toggle:visited, .navbar-form {
        color: $nav_normal_color;
        border-left: 1px solid transparent;
        border-right: 1px solid transparent;
        margin-bottom: -1px;
    }

    .navpagelinks a:hover, .dropdown:hover {
        color: $nav_hover_color;
        background-color: rgba($nav_hover_background, 0.7);
    }

    .navpagelinks a.active, .search_results_visible .search-form {
        color: $nav_active_color;
        background-color: $nav_active_background;
        border-left: 1px solid rgba(100, 100, 100, 0.68);
        border-right: 1px solid rgba(100, 100, 100, 0.68);
        border-bottom:1px solid white;
    }

    .tag-label {
        // border-color: rgba(0,0,0,0.7) !important;
        // tag label is higher than normal text.
        // negative margin to prevent expanding navbar
        margin-top: -4px;
        margin-bottom: -10px;
    }

    .search-form {
        margin-right: -10px;
        input {
            width: 190px;
        }
    }

    .search_results_visible, .has_fullscreen {
        .nav {
            a.active {
                color: $nav_normal_color;
                background-color: transparent;
                border-color: transparent;
            }
        }
    }

    // make bootstrap margins to paddings to let borders having full height
    .navbar-form {
        padding-top: 8px;
        padding-bottom: 8px;
        margin-top: 0;
    }

    .context-dropdown {
        h3 {
            padding: 10px 0px;
        }
        width: 300px;
        height: 270px; // must be high enough to cover expanded tag-editor
        padding: 10px;
    }
    #new_discussion_button {
        margin-right: 5px;
        margin-left: 5px;
    }
    .survey-container {
        overflow: visible;
        position: relative;
    }
}

.auth-dropdown {
    display: block;
    z-index: $zindex_auth; // does not work
    form {
        a, a:link, a:visited {
            color: $link-color;
        }
        a:active, a:hover {
            color: $link-hover-color;
        }
    }

    .tab_body {
        padding: 5px;
    }

    .logout-form {
        padding: 10px;
        text-align: right;
    }
}
