@import "globals";

#navigation {
    background-color: $nav_normal_background;
    border-width: 0px;
    border-bottom: 1px solid #DDD;
    ul.nav li.dropdown:hover > ul.dropdown-menu {
        display: block;
    }
    color: $nav_normal_color;

    .navpagelinks a:link, .navpagelinks a:hover, .navpagelinks a:visited, .navpagelinks a.active,
     a.dropdown-toggle:link, a.dropdown-toggle:hover, a.dropdown-toggle:visited {
        color: $nav_normal_color;
        border-left: 1px solid transparent;
        border-right: 1px solid transparent;
        border-bottom: 1px solid #DDD;
        margin-bottom: -1px;
    }

    .navpagelinks a:hover, a.dropdown-toggle:hover {
        color: $nav_hover_color;
        background-color: rgba($nav_hover_background, 0.7);
        border-bottom: 1px solid #DDD;
    }
    .navpagelinks a.active {
        color: $nav_active_color;
        background-color: $nav_active_background;
        border-bottom:1px solid white;
        border-left: 1px solid rgba(100, 100, 100, 0.3);
        border-right: 1px solid rgba(100, 100, 100, 0.3);
        border-bottom:1px solid white;
    }

    .tag-label {
        // border-color: rgba(0,0,0,0.7) !important;
        // tag label is higher than normal text.
        // negative margin to prevent expanding navbar
        margin-top: -4px;
        margin-bottom: -10px;
    }

    .dropdown-menu {
        color: #333; //TODO: use bootstrap variable
    }

    #node_search_form {
        width: 200px;
        margin-top: 0px;
        margin-bottom: 0px;
        height: 50px;
        .input-group {
            margin-top: 8px;
            margin-bottom: 8px;
            height: 34px;
        }
    }
    .search_results_visible {
        #node_search_form {
            background-color: $nav_active_background;
        }
    }
    .search_results_visible, .has_fullscreen {
        .nav {
            a.active {
                color: $nav_normal_color;
                background-color: transparent;
            }
        }
    }
    .context-dropdown {
        h3 {
            padding: 10px 0px;
        }
        width: 300px;
        height: 270px; // must be high enough to cover expanded tag-editor
        padding: 10px;
    }
    .auth-dropdown {
        width: 200px;
        form {
            margin-right: 0px;
        }
        form.ng-leave {
            display: none;
        }
    }
    #edit_modal_toggle {
        margin-right: 10px;
        margin-left: -6px;
    }
}

