@import "globals";

.big_taglist_directive {
    .vote_button:hover {
        color: $vote_button_hover_color;
    }
    .vote_button.active {
        color: $vote_button_active_color;
    }
    .vote_button {
        color: $vote_button_color;
        cursor: pointer;
    }
}
