{
  "env": {
    "browser": true,
    "es6": true
  },
  "rules" : {
    "strict": 0,
    "curly": 0,
    "no-use-before-define": 0,
    "no-shadow": 0,
    "no-console" : 0,
    "space-infix-ops" : 0,
    "comma-dangle" : 0
  },
  "globals": {
    "_": false,
    "angular": false,
    "d3" : false
  }
}
