# Ignore bundler config.
/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp

# Gemfile
Gemfile.lock

# bower
vendor/assets/bower_components
vendor/assets/bower.json
