<div id="focus_component">
    <!-- <div id="root_node_view"> -->
    <!--     <div big-post node="vm.rootNode"></div> -->
    <!-- </div> -->
    <div tabset class="tabs-left">
        <div tab active="vm.tabViews[0].active">
            <div tab-heading>
                <i class="icon-dot-circled fa-2x"></i>
            </div>
            <div focus-neighbours component="vm.neighboursComponent" is-loading="vm.componentLoading"></div>
        </div>
        <div tab active="vm.tabViews[1].active">
            <div tab-heading>
                <i class="icon-share fa-2x"></i>
            </div>
            <div focus-graph component="vm.graphComponent" is-loading="vm.componentLoading"></div>
        </div>
    </div>
</div>
