#focus_component {
    height: 100%;
    #root_node_view {
        padding: 10px;
    }
    .tabs-left, .nav, .tab-content, .tab-pane {
        margin: 0px;
        height: inherit;
    }

    .nav > li > a {
        padding: 3px;
    }
    .tab-content {
        overflow: auto;
    }
    .tab-pane > .tab_body {
        height: inherit;
    }
}
