<div id="neighbours_component">
    <div discourse-node-list node-model='vm.references.model' is-loading="vm.isLoading" class="neighbours_attachedto discourse_node_list_horizontal"></div>
    <div class="fa fa-long-arrow-right fa-2x arrow-right" ng-show="vm.references.model.list.length > 0"></div>
    <div class="neighbours_content">
        <div big-post node="vm.component.rootNode"></div>
        <div class="changerequest">
            <button class="btn btn-danger pull-right btn-xs" type="button" ng-click="vm.newStream()"><i class="fa fa-close"></i></button>
            <button class="btn btn-success pull-right btn-xs" type="button" ng-click="vm.newStream()"><i class="fa fa-check"></i></button>
            <b>Änderungsvorschlag</b>
            <div word-based-diff source-a="vm.sourceA" source-b="vm.sourceB"></div>
        </div>
    </div>
    <div class="fa fa-long-arrow-right fa-2x arrow-right" ng-show="vm.replies.model.list.length > 0"></div>
    <div discourse-node-list node-model='vm.replies.model' is-loading="vm.isLoading" class="neighbours_followers discourse_node_list_horizontal"></div>
</div>
