@import "compass/css3/flexbox";
@import "globals";

#neighbours_component {
    width: 100%;
    padding: 20px;
    @include display-flex(flex);
    @include justify-content(center);
    @include flex-direction(rows);
    @include align-items(flex-start);
    .neighbours_attachedto {
        width: 280px;
        min-width: 280px;
        .node_model_list {
            // arrow touches bigpost
            padding-right: 0;
            .list-item {
                @include display-flex(flex);
                @include flex-direction(columns);
                @include align-items(center);
                @include justify-content(flex-end);
            }
        }

    }

    .neighbours_content {
        width: 600px;
        min-width: 400px;

        .rootnode {
            margin-bottom: 20px;
        }

        .parallels {
            .node_model_list > div {
                @include display-flex(flex);
                @include justify-content(flex-start);
                @include flex-direction(row);
                @include align-items(stretch);
                @include flex-wrap(wrap);
            }
            .small_post_directive {
                width: 190px;
                vertical-align: top;
                margin-right: 5px;
            }
        }
    }

    .neighbours_followers {
        width: 280px;
        min-width: 280px;
        .node_model_list {
            // arrow touches bigpost
            padding-left: 0;
            .list-item {
                @include display-flex(flex);
                @include flex-direction(columns);
                @include align-items(center);
                @include justify-content(flex-start);
            }
        }
    }

    .neighbours_followers, .neighbours_attachedto {
        .small_post_directive {
            text-align: left;
            width: 200px;
        }
    }

    .list-item {
        // we move the margin from small-post to list-item
        // for the flex-box to center the arrow correctly
        .small_post_directive {
            margin-bottom:0;
        }
        margin-bottom: 5px;
        .connection {
            $width: 70px; // length of the arrow
            width: $width;
            @include display-flex(flex);
            @include flex-direction(columns);
            @include align-items(center);
            @include justify-content(flex-start);

            .classification-container {
                // other container have width 0,
                // so this contaier sets the size for the whole flex-container
                width: $width;
                display: block;
                margin-left: 15px;
                margin-right: 2px;
                margin-top: 10px;
                margin-bottom: 10px;
                .tag-label {
                    $scale: 0.7;
                    display: block !important; // triggers line breaks
                    text-align: center;
                    margin: 0;
                    font-size: $scale*100%;
                    line-height: 11px !important;
                    height: 12px !important;
                    .content {
                        padding: 0 3px !important;
                    }
                }
            }

            .arrow-container {
                width: 0;
                position: relative;
                left: -$width;
                z-index: -1; // put svg below tool buttons
                .arrow {
                    .arrowline {
                        stroke-width: 1px;
                        stroke:$graph_relation_color;
                    }
                    .arrowhead {
                        stroke-width: 1px;
                        fill: $graph_relation_color;
                    }
                }
            }

            .tool-container {
                @include align-self(flex-start);
                width: 0;
                position: relative;
                top: -8px;
                left: -$width;
                text-align: center; // position of the tools on the arrow
                .tools {
                    width: $width;
                    padding-left: 10px; // arrow head
                    .button {
                        opacity: 0.5;
                        cursor: pointer;
                    }
                    .button.active, .button:hover {
                        opacity: 1;
                    }
                }
            }
        }
    }
}
