@import "compass/css3/flexbox";

#neighbours_component {
    width: 100%;
    padding: 20px;
    @include display-flex(flex);
    @include justify-content(center);
    @include flex-direction(rows);
    @include align-items(flex-start);
    .neighbours_attachedto {
        width: 270px;
        min-width: 270px;
        padding-right: 10px;
        // background: red;
        .node_model_list {
            //right alignment of small posts
            // @include justify-content(flex-end);
        }
        .predecessor_connection {
            margin-left: 5px;
            float:right;

            //icons are higher than minimum small post height, this prevents float failure
            height:20px;
            line-height: 20px;
            .upvote_button {
                opacity: 0.5;
            }
            .upvote_button.active, .upvote_button:hover {
                opacity: 1;
            }
        }
    }

    .neighbours_content {
        width: 600px;
        min-width: 400px;

        margin-left: 15px;
        margin-right: 15px;

        .parallels {
            .small_post_directive {
                width: 200px;
                vertical-align: top;
                margin-right: 5px;
            }
        }

        // background: green;
    }
    .neighbours_followers {
        width: 270px;
        padding-left: 10px;
        // background: blue;
    }

    .neighbours_followers, .neighbours_attachedto {
        .small_post_directive {
            text-align: left;
            width: 200px;
        }
    }

}
