@import "compass/css3/flexbox";
@import "globals";

#neighbours_component {
    width: 100%;
    padding: 20px;
    @include display-flex(flex);
    @include justify-content(center);
    @include flex-direction(rows);
    @include align-items(flex-start);
    .neighbours_attachedto {
        width: 280px;
        min-width: 280px;

        .predecessors_connection {
            float:right;
            text-align: center;

            //icons are higher than minimum small post height, this prevents float failure
            height:20px;
            line-height: 20px;
            .tools {
                // margin-bottom: -11px;
                .button {
                    opacity: 0.5;
                    cursor: pointer;
                }
                .button.active, .button:hover {
                    opacity: 1;
                }
            }
            .arrow {
                position:relative;
                top: -11px;
                z-index: -1; // put svg below tool buttons
            }
        }
    }

    .neighbours_content {
        width: 600px;
        min-width: 400px;

        .parallels {
            .small_post_directive {
                width: 200px;
                vertical-align: top;
                margin-right: 5px;
            }
        }
    }
    .neighbours_followers {
        width: 280px;
        min-width: 280px;
        text-align: right;

        .followers_connection {
            float:left;
            text-align: center;

            //icons are higher than minimum small post height, this prevents float failure
            height:20px;
            line-height: 20px;
            .tools {
                // margin-bottom: -11px;
                .button {
                    opacity: 0.5;
                    cursor: pointer;
                }
                .button.active, .button:hover {
                    opacity: 1;
                }
            }
            .arrow {
                position:relative;
                top: -11px;
                z-index: -1; // put svg below tool buttons
            }
        }
    }

    .neighbours_followers, .neighbours_attachedto {
        .small_post_directive {
            text-align: left;
            width: 200px;
        }
    }

    .arrow {
        .arrowline {
            stroke-width: 1px;
            stroke:$graph_relation_color;
        }
        .arrowhead {
            stroke-width: 1px;
            fill: $graph_relation_color;
        }
    }
}
