<div>
    <span class="predecessors_connection connection">
        <div class="tools">
            <span ng-if="::vm.Auth.isLoggedIn" class="fa fa-pencil button" ng-click="vm.editPredecessorConnects(node)"></span>
            <span ng-if="::vm.Auth.isLoggedIn" class="vote_button fa fa-chevron-up button" ng-class="{ active: vm.connectsRelations[node.id].vote.weight > 0 }" ng-click="vm.upvoteAnswer(node)" data-title="{{vm.connectsRelations[node.id].quality.toFixed(3)}}" bs-tooltip></span>
        </div>
        <svg width="50" height="10" class="arrow" colored-tag-svg-arrow="node" reference-node="vm.nodeModel.node">
            <path d="M0,5 L 50,5" class="arrowline"></path>
            <svg x="40">
                <path d="M 0,2 L 10,4.5 L 10,5.5 L0,8" class="arrowhead"></path>
            </svg>
        </svg>
    </span>
</div>
