<div class="modal_edit modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Post</h3>
            </div>
            <div class="modal-body">
                <span ng-if="vm.previewEnabled" preview node="vm.node"></span>
                <span ng-if="!vm.previewEnabled" static-edit-post node="vm.node"></span>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" ng-click="$hide()">Close</button>
                <button class='btn btn-primary' ng-click='vm.previewEnabled = !vm.previewEnabled'><i class='fa' ng-class="{'fa-eye': !vm.previewEnabled, 'fa-eye-slash': vm.previewEnabled}"></i></button>
                <button class="btn btn-success" ng-click="vm.node.save();$hide()" ng-disabled="!vm.node.canSave"><i class="fa fa-paper-plane-o"></i></button>
            </div>
        </div>
    </div>
</div>
