<div class="modal_edit modal">
    <form class="wust_form modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <span ng-if="vm.node.referenceNode !== undefined">
                    <label>Replies to</label>
                    <span small-post node="vm.node.referenceNode"></span>
                </span>
            </div>
            <div ng-switch="vm.previewEnabled" class="modal-body">
                <div ng-switch-when="true" preview node="vm.node" class="panel panel-default"></div>
                <div ng-switch-default class="panel panel-default">
                    <div class="panel-heading">
                        <input type="text" class="tldr_input form-control" focus-me="vm.hasFocus" ng-blur="vm.hasFocus = false"  ng-model="vm.node.title" ng-change="vm.node.onChange()" placeholder="TL;DR" required>
                    </div>
                    <div class="panel-body">
                        <div edit-post always-show-tag-suggestions="true" node="vm.node"></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <span class="pull-left btn btn-default" style='cursor:pointer' ng-click='vm.previewEnabled = !vm.previewEnabled' data-title='preview' bs-tooltip animation=''><i class="fa" ng-class="{'fa-eye-slash': vm.previewEnabled, 'fa-eye': !vm.previewEnabled}"></i></span>
                <span class="btn btn-default" ng-click="$hide()">Discard</span>
                <span class="btn btn-success" type="submit" ng-click="vm.save();$hide()" ng-disabled="!vm.node.canSave"><i class="fa" ng-class="{'fa-reply': vm.node.referenceNode !== undefined, 'fa-paper-plane-o': vm.node.referenceNode === undefined}"></i></span>
            </div>
        </div>
    </form>
</div>
