.post-preview {
    h2 {
        font-size: 20px;
        line-height: 20px;
        margin-top: 0;
        padding-bottom: 5px;
        padding-top: 5px;
        text-align: left;
    }
    .big_taglist_directive {
        padding-top: 10px;
    }
    .description {
        padding-top: 10px;
    }
}
