#zen_component {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 1001;
    #zenetized_markdown {
        height: 100%;
        & > div {
            height: 100%;
        }
    }
    &.ng-hide-add {
        @include animation(fadeOutLeft 0.2s);
        display: block !important;
    }
    &.ng-hide-remove {
        @include animation(fadeInLeft 0.2s);
        display: block !important;
    }
    &.ng-hide-add.ng-hide-add-active, &.ng-hide-remove {
        opacity: 0;
    }
    &.ng-hide-add, &.ng-hide-remove.ng-hide-remove-active {
        opacity: 1;
    }
}
