//TODO: challenge -> better idea?
//the 400px width refers to the value set in _main.scss
//cannot use a variable with calc :/
#left_hand_side.visible + #right_hand_side #zen_component {
    left: 400px !important;
    width: -moz-calc(100% - 400px) !important;
    width: -webkit-calc(100% - 400px) !important;
    width: calc(100% - 400px) !important;
}
#zen_component {
    float: right;
    left: 0px;
    width: 100%;
    position: absolute;
    top: 50px;
    height: 100%;
    z-index: 1001;
    overflow: auto;
    // transition should fit to the one defined on #left_hand_side in page.scss
    transition: all 0.1s ease;
    #zenetized_markdown {
        height: 100%;
        & > div {
            height: 100%;
        }
    }
    &.ng-hide-add {
        @include animation-play-state(paused !important);
        @include animation(fadeOut 0.15s);
        display: block !important;
        visibility: hidden;
    }
    &.ng-hide-remove {
        @include animation-play-state(paused !important);
        @include animation(fadeIn 0.15s);
        display: block !important;
        visibility: hidden;
    }
    &.ng-hide-add.ng-hide-add-active, &.ng-hide-remove {
        visibility: visible;
        @include animation-play-state(running !important);
    }
    &.ng-hide-add, &.ng-hide-remove.ng-hide-remove-active {
        visibility: visible;
        @include animation-play-state(running !important);
    }
}
