<div id="show_discourse_node_list">
    <div discourse-node-search-form ng-model='ngModel.new' on-submit='ngModel.create' on-select="ngModel.add" search-nodes='ngModel.search' icon-class="fa fa-plus"></div>
    <div ui-on-Drop="ngModel.add($data)" ng-class='ngModel.style.listCss'>
        <div ng-repeat='node in ngModel.list'>
            <div ng-include="ngModel.style.templateUrl"></div>
        </div>
    </div>
</div>

<script type="text/ng-template" id="show_discourse_node_list.html">
    <div class="btn-group" role="group" style="padding:3px">
        <a ng-class="ngModel.info.css" class="btn" ui-sref="{{ngModel.info.state}}({id: node.id})">{{node.title}}</a>
        <button class='btn btn-default' ng-click='ngModel.remove(node)'><i class='fa fa-minus text-default'></i></button>
    </div>
</script>

<script type="text/ng-template" id="show_discourse_idea_list.html">
    <div class="panel panel-default" ng-class="ngModel.info.css">
        <a ui-sref="{{ngModel.info.state}}({id: node.id})">
            <div class="panel-heading">
                <h3 class="panel-title">{{node.title}}</h3>

            </div>
        </a>
        <div class="panel-body">
            Panel content
            <br />
            <!-- <span class="discourse_proargument node">pro</span> -->
            <!-- <span class="discourse_conargument node">con</span> -->
            <button class='btn btn-default btn-xs pull-right' ng-click='ngModel.remove(node)'>
                <i class='fa fa-minus'></i>
            </button>
        </div>
    </div>
</script>
