@import "compass/css3/flexbox";

#neighbours_component {
    @include display-flex(flex);
    @include justify-content(space-between);
    padding: 20px;
    text-align: center;
    #node_view {
        padding: 50px;
    }
    #center_view {
        @include flex-grow(1);
    }
}
