@import "compass/css3/flexbox";

#neighbours_component {
    width: 100%;
    padding: 20px;
    @include display-flex(flex);
    @include justify-content(space-between);
    @include flex-direction(rows);
    @include align-items(flex-start);
    .neighbours_attachedto {
        width: 20%;
        max-width: 20%;
        min-width: 200px;
        // @include flex-grow(1);
        // background: red;
        text-align: right;
        padding-right: 20px;
    }
    .neighbours_content {
        width: 60%;
        max-width: 60%;
        min-width: 600px;
        // @include flex-grow(3);
        // background: green;
    }
    .neighbours_followers {
        width: 20%;
        max-width: 20%;
        min-width: 200px;
        // @include flex-grow(1);
        // background: blue;
        padding-left: 20px;
    }

    .neighbours_followers, .neighbours_attachedto {
        .small_post_directive {
            text-align: left;
            margin-bottom: 5px;
            max-width: 200px;
        }
    }
}
