<div class="tag-editor-directive" ng-class="{active:focus}" >
    <div class="tag-editor" ng-click="setFocus = true" deep-blur="focus = false">
        <span ng-repeat="tag in tags" tag-label="tag" disable-link>
            <span class="right" data-title="Classify post in context" bs-tooltip>
                <span ng-click="focus = true; setFocus = true; $event.stopPropagation(); $event.preventDefault()" data-on-change="onChange({type: type, tag: tag})" data-tag="tag" data-template-url="elements/ngTagEditor/classification_popover.html" data-container="body" data-placement="right" data-animation="am-flip-x" data-auto-close="1" bs-popover>
                    <span ng-repeat="classification in tag.classifications">
                        <span colored-tag="classification" tagtype="circle" class="tag_symbol"></span>
                    </span>
                    <i ng-if="editClassification && tag.isContext && tag.classifications.length === 0" class="fa fa-ellipsis-h text-muted"></i>
                </span>
            </span>
            <i class="remove fa fa-close right" data-title="Remove tag" bs-tooltip ng-mousedown="$event.stopPropagation(); $event.preventDefault();" ng-mouseup="remove($index)"></i>
        </span>
        <input type="text" class="tag-input" placeholder="{{placeholder}}" ng-focus="focus = true" ng-blur="unfocusedInput()" focus-me="setFocus" ng-model="search"/>
    </div>
    <div ng-class="{'tag-suggestions-wrap': !embedSuggestions}">
        <div class="tag-suggestions ng-trans ng-trans-fade ease" ng-show="(emptyShow && tags.length === 0) || alwaysShow || focus">
            <span class="title">For example:</span>
            <span ng-repeat="suggestor in suggestions">
                <span ng-repeat="tag in suggestor track by tag.id" tag-label="tag" disable-link ng-mousedown="$event.stopPropagation(); $event.preventDefault();" ng-mouseup="add(tag); setFocus = true;" ng-class="{'transparent-suggestion': (alwaysShow && !focus)}"></span>
            </span>
        </div>
    </div>
</div>
