<div class="tag-editor-directive">
    <div class="tag-editor" ng-class="{active:focus}" ng-click="setFocus = true">
        <div class="tag-draft">
            <span ng-repeat="tag in tags" tag-label="tag" disable-link>
                <span ng-repeat="classification in tag.classifications" title="{{classification.title}}">
                    <span colored-tag="classification" tagtype="circle" class="tag_circle"></span>
                </span>
                <i ng-if="editClassification" class="fa fa-pencil content" ng-click="$event.stopPropagation();" title="Classify post in context" data-on-change="onChange()" data-tag="tag" data-template-url="elements/ngTagEditor/classification_popover.html" data-container="body" data-placement="right" data-animation="am-flip-x" data-auto-close="1" bs-popover></i>
                <i class="remove fa fa-close right" title="Remove tag" ng-click="remove($index); $event.stopPropagation();"></i>
            </span>
            <input type="text" class="tag-input" placeholder="{{placeholder}}" ng-focus="focus = true" ng-blur="focus = false; unfocusedInput()" focus-me="setFocus" ng-model="search"/>
        </div>
        <div class="tag-suggestions" ng-show="suggestions && ((emptyShow && tags.length === 0) || alwaysShow || focus)">
            <span class="title">Suggestions:</span>
            <span ng-repeat="tag in suggestions track by tag.id" tag-label="tag" disable-link ng-mousedown="add(tag)"></span>
        </div>
    </div>
</div>
