@import "globals";
@import "compass/css3/box-shadow";

.tag-editor-directive {
    font-family: sans-serif;
    font-size: 16px;
    line-height: 35px;
    .tag-label {
        line-height:21px !important; // TODO: Why not the default?
    }
    &.active {
        .tag-editor, .tag-suggestions {
            //TODO: hardcoded from bootstrap
            border-color: #66afe9;
        }
    }
    .tag-editor, .tag-suggestions {
        border: 1px solid #ccc;
    }
    .transparent-suggestion .tag-label {
        opacity: 0.5;
    }
    .tag-editor {
        width: 100%;
        display: block;
        margin: 0;
        border-radius: 3px;
        min-height: 40px;
        overflow: hidden;
        padding: 0 9px;
        font-size: 16px;
        background-color: #fff;
        cursor: text;
        .tag-label {
            .remove {
                font-weight: bold;
            }
            .tag_circle {
                margin-left: 2px;
            }
        }
        .tag-input {
            display: inline-block;
            height: 35px;
            border: 0;
            margin: 0;
            padding: 0;
        }
        .tag-input:focus {
            box-shadow: none;
            outline: none;
        }
    }
    .tag-suggestions-wrap {
        position: relative;
        overflow: visible;
        .tag-suggestions {
            margin-top: 0;
            margin-left: 7%;
            margin-right: 7%;
            width: 86%;
            border-bottom-left-radius: 3px;
            border-bottom-right-radius: 3px;
            @include box-shadow(0 12px 20px $shadow-color);
            position: absolute;
            left: 0px;
            top: -1px;
            z-index: $zindex_tag_suggestions;
        }
    }
    .tag-suggestions {
        min-height: 43px;
        margin-top: -3px;
        padding-top: 0px;
        padding-right: 8px;
        padding-left: 8px;
        padding-bottom: 3px;
        border: 1px solid #ccc;
        display: block;
        background: white;
        cursor: auto;
        border-top: 0px;
        .title {
            display: block;
            float: left;
            height: 25px;
            padding-left: 0px;
            margin-top: 5px;
            background-color: transparent;
            color: #888;
            font-weight: bold;
            padding: 0 5px;
            font-size: 14px;
            line-height: 25px;
        }
        .tag-label {
            cursor: pointer;
        }
    }
}

