#user_detail_component {
    padding-left: 50px;
    .user_detail_box {
        margin: 0px auto;
        width: 60%;
        .list-group-item {
            padding: 3px;
            min-height: 42px;
            .show_value {
                padding-top: 7px;
                padding-left: 13px;
            }
        }
        .contributions {
            margin-top: 20px;
        }

        .showkarma {
            display: inline-block;
            margin-top: 20px;
        }
    }
}
