<div id="user_detail_component" class="content-component">
    <div class="row"><h2 class="col-sm-12"><i class="fa fa-user"></i> {{::vm.user.name}} ({{vm.karmaSum}} Karma)</h2></div>
    <div class="userdetails row">
        <div class="col-sm-8">
            <div ng-if="vm.karmaTags.length" class="text-muted">Karma in different Contexts</div>
            <span ng-repeat="context in vm.karmaTags | orderBy:'-karma'" tag-label="context">
                <b class="right">{{context.karma}}</b>
            </span>
        </div>

        <div class="col-sm-4">
            <form class="user-form" editable-form name="userForm" onaftersave="vm.saveUser()" ng-if="vm.isCurrentUser || vm.user.email">
                <span ng-if="vm.user.email || vm.isCurrentUser">
                    <i class="fa fa-envelope-o"></i>
                    <span editable-email="vm.user.email" ng-bind="vm.user.email"></span>
                    <i class="fa fa-pencil" ng-click="userForm.$show()" ng-show="vm.isCurrentUser && !userForm.$visible"></i>
                    <div ng-show="userForm.$visible">
                        <button type="button" class="btn btn-xs btn-default" ng-disabled="userForm.$waiting" ng-click="userForm.$cancel()">Cancel</button>
                        <button type="submit" class="btn btn-xs btn-primary" ng-disabled="userForm.$waiting">Save</button>
                    </div>
                </span>
            </form>

            <form class="user-auth-form" editable-form name="userAuthForm" onaftersave="vm.savePassword()" ng-if="vm.isCurrentUser">
                Password:
                <span editable-password="vm.authInfo.password" ng-bind="vm.authInfo.password"></span>
                <span editable-password="vm.authInfo.password2" ng-bind="vm.authInfo.password2"></span>
                <i class="fa fa-pencil" ng-click="userForm.$show()"></i>
                <div ng-show="userForm.$visible">
                    <button type="button" class="btn btn-xs btn-default" ng-disabled="userAuthForm.$waiting" ng-click="userAuthForm.$cancel()">Cancel</button>
                    <button type="submit" class="btn btn-xs btn-primary" ng-disabled="userAuthForm.$waiting">Save</button>
                </div>
            </form>
        </div>
    </div>

    <div class="contributions row">
        <div class="authorship col-sm-4" infinite-scroll="vm.loadMore()" infinite="infinite" promise="vm.contributions" scroll-target="middle_content">
            <h4>Created Posts</h4>
            <p class="text-muted" ng-if="vm.contributions.$resolved && vm.contributions.length === 0">Nothing</p>
            <p class="text-muted" ng-if="!vm.contributions.$resolved && vm.contributions.length === 0">Loading</p>
            <div ng-repeat="contribution in vm.contributions | unique:'id' track by contribution.id" small-post node="contribution" class="ng-trans ng-trans-scale-up ease"></div>
            <button class="btn btn-default pull-right ng-hide" ng-click="infinite.manualLoad()" ng-disabled="infinite.loading" ng-hide="infinite.noMore">More</button>
        </div>
        <div class="karma-log col-sm-6">
            <h4 ng-if="vm.karmaLog.length">Karma History</h4>
            <ul class="list-group">
                <li ng-repeat="entry in vm.karmaLog | reverse" class="list-group-item">
                    <div>
                        <span class="badge pull-left" ng-class="{'progress-bar-success': entry.karmaChange > 0, 'progress-bar-danger': entry.karmaChange < 0}">{{entry.karmaChange}}</span>
                        in
                        <span class="pull-right timestamp" show-timestamp="entry.timestamp"></span>
                        <span ng-repeat="context in entry.contexts" tag-label="context"></span>
                    </div>
                    <div class="clearfix description">
                        <span class="pull-right" small-post node="entry.post"></span>
                        <b ng-bind="entry.reason.split(': ')[0]"></b>
                        <p ng-bind="entry.reason.split(': ')[1]"></p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
