<div id="user_list_component" class="list-group" infinite-scroll="vm.loadMore()" infinite="infinite" promise="vm.users" scroll-target="middle_content">
    <div id="user_list_box">
        <a ng-repeat="user in vm.users track by user.id" ui-sref="users.details({id: user.id})" class="list-group-item" ng-bind="::user.name"></a>
        <button class="btn btn-default pull-right" ng-click="infinite.manualLoad()" ng-disabled="infinite.loading" ng-hide="infinite.noMore">More</button>
    </div>
</div>
