<div id="scratchpad_component">
    <button type="button" class="btn btn-default fa fa-arrows-alt pull-right" onclick="this.blur()" ng-model="vm.sidebar.left.fullscreen" bs-checkbox data-title="toggle fullscreen" bs-tooltip placement="bottom"></button>
    <button class="pull-right btn btn-xs btn-default" onclick="this.blur()" ng-model="vm.showEdits" bs-checkbox>Edits</button>

    <form ng-submit="vm.showEdits = false; vm.editNewPost()" class="new_post_title">
        <input class="form-control" ng-model="vm.newPost.title" placeholder="TL;DR">
    </form>

    <div id="edit_list">
        <div ng-repeat="node in vm.editList | filter:{ visible: !vm.showEdits }" class="ng-trans ng-trans-scale-up ease">
            <div class="drop_post_container" drop-channel="node,scratch_node,scratch_move" ui-on-Drop="vm.edit($data, $index)">
                <div collapse-edit-post node="node"></div>
            </div>
        </div>
        <div id="scratch_end_drop_post_container" class="drop_post_container" drop-channel="node" ui-on-Drop="vm.edit($data, vm.editList.length)">
    </div>
</div>
