#scratchpad_component {
    height: 100%;
    padding: 5px;
    .new_post_title {
        width: 280px;
    }
    .title {
        padding: 2px;
        outline: none;
        border-radius: 3px;
        border: 2px solid transparent;
        &.is_invalid {
            border-color: red;
        }
        &[contenteditable='true']:hover{
            background: #E6E6E6;
        }
        &:focus, &:focus:hover  {
            background: #FFF;
            box-shadow: 0 1px 5px rgba(0,0,0,0.15) inset;
        }
    }
    #edit_list {
        padding-top: 10px;
    }
    .editable-click {
        border-bottom: 1px solid #ccc;
    }
    .editable-click.is_invalid {
        border-bottom: 1px solid red;
    }
    #scratch_end_drop_post_container {
        height: 50px;
    }
    .drop_post_container {
        margin: 3px;
        padding: 5px;
    }
}

