@import "compass/css3/flexbox";

#scratchpad_component {
    height: 100%;
    padding: 5px;
    .new_post_title {
        padding: 3px;
        width: 275px;
        padding-bottom: 10px;
        padding-right: 10px;
    }
    .edit_tags {
        padding: 3px;
        width: 360px;
    }
    .graph_button {
        margin-top: 3px;
    }
    .tab_body {
        padding-top: 5px;
    }
    .edit_list {
        @include display-flex(flex);
        @include flex-direction(row);
        @include align-items(flex-start);
        @include flex-wrap(wrap);
        padding-top: 10px;
    }
    .editable-click {
        border-bottom: 1px solid #ccc;
    }
    .editable-click.is_invalid {
        border-bottom: 1px solid red;
    }
    #scratch_end_drop_post_container {
        width: 360px;
        height: 50px;
    }
    .drop_post_container {
        margin: 3px;
        padding: 5px;
    }
}

