#graph_component {
    overflow: hidden;
    height: 100%;
    position: relative;
    .graph_network {
        height: 100%;
    }
    #filter_input {
        width: 30%;
        position: absolute;
    }
    .svglink {
        fill: none;
        stroke: #999;
        stroke-width: 1;
        //TODO: don't hardcode: "graph#..." - url depends on current location from UI-router
        marker-end: url(graph#arrow);
        stroke-linecap: round;

    }
    .relation_label {
        background: white;
    }
}
