@import "globals";
@import "compass/css3/flexbox";
@import "compass/css3/box-shadow";

#vote_component {
    padding-left: 50px;
    .undobutton_container {
        margin-top: 10px;
        height: 50px;
      .undobutton {
      }
    }
    #description_container {
        @include display-flex(flex);
        height: 200px;
        .vote-buttons {
            @include display-flex(flex);
            @include justify-content(space-between);
            .btn {
                margin: 10px;
            }
        }

        .AddTag, .RemoveTag {
            ul > li > a {
                visibility: hidden;
            }
        }

        .post {
            border: 1px solid $post_default_border_color;
            border-radius: 4px;
            padding: 15px;
            h2 {
                word-wrap: break-word;
            }
            .post-description {
                margin: 0;
                width: 95%;
                max-width: 600px;
                .diff {
                    margin: 0 0 10px;
                }
            }
        }

        .AddTag .post .existing.tag .tag-label {
            background-color: #EEE !important;
            border-color: #AAA !important;
            a {
                color: #777 !important;
            }
        }
        .AddTag .post .tag .tag-label .icon {
            padding-right: 5px;
        }
        .RemoveTag .post .removed.tag .tag-label {
            a {
                text-decoration: line-through;
            }
            @include box-shadow(0 0 0 5px red);
        }

        #action_container {
            @include display-flex(flex);
            @include flex-direction(column);
            padding-left: 50px;
            .action {
                padding: 20px;
                padding-top: 5px;
            }

            .tag-action {
                .post-title, .post-description {
                    color: #AAA;
                }
            }
        }
    }
}
