@import "globals";
@import "compass/css3/flexbox";
@import "compass/css3/box-shadow";

#vote_component {
    @include display-flex(flex);
    @include justify-content(center);


    .stream-container {
        width: 600px;
        min-width: 600px;
        max-width: 600px;
        padding: 20px 40px;
    }
    #description_container {
        width: 100%;
        min-width: 100%;
        max-width: 100%;

        @include display-flex(flex);
        .vote-buttons {
            @include display-flex(flex);
            @include justify-content(space-between);
        }

        .action-description {
            text-align: center;
            margin-top: 40px;
        }

        // hide tab bar for these actions
        .AddTag, .RemoveTag, .Delete {
            ul > li > a {
                visibility: hidden;
            }
        }

        .post {
            border: 1px solid $post_default_border_color;
            border-radius: 4px;
            padding: 15px;
            h2 {
                word-wrap: break-word;
            }
            .post-description {
                margin: 0;
                width: 95%;
                max-width: 600px;
                .diff {
                    margin: 0 0 10px;
                }
            }
        }

        .post.removed-post {
            @include box-shadow(0 0 0 5px red);
        }

        .removed .tag-label {
            a {
                text-decoration: line-through;
            }
            @include box-shadow(0 0 0 5px red);
            margin-left: 5px;
            margin-right: 5px;
            margin-top: 3px;
            margin-top: 3px;
        }

        .AddTag .post .existing.tag .tag-label {
            background-color: #EEE !important;
            border-color: #AAA !important;
            a {
                color: #777 !important;
            }
        }
        .RemoveTag .post .removed.tag .tag-label {
            a {
                text-decoration: line-through;
            }
            @include box-shadow(0 0 0 5px red);
        }

        #action_container {
            width: 600px;
            @include display-flex(flex);
            @include flex-direction(column);
            .action {
                padding: 20px;
                padding-top: 5px;
            }

            .tag-action {
                .post-title, .post-description {
                    color: #AAA;
                }
            }
        }
    }
}
