<div id="vote_component" class="content-component">
    <div class="stream-container">
        <h2 ng-if="vm.isLoading && !vm.change" class="text-muted">Loading</h2>
        <h2 ng-if="!vm.isLoading && !vm.change" class="text-muted">There is nothing more to moderate.</h2>
        <div id="description_container" ng-if="vm.change">
            <!-- <div style="text-align:center;height:60px;width:60px"> -->
            <!--     <i class="fa fa-3x fa-fw" ng-class="vm.change.icon"></i> -->
            <!--     <br/> {{vm.change.type}} -->
            <!-- </div> -->

            <div id="action_container" ng-if="::vm.change">
                <div class="vote-buttons">
                    <button class="btn btn-danger" ng-click="vm.downvote()">
                        <i class="fa fa-close"></i> Doesn't make sense
                    </button>
                    <button class="btn btn-warning" ng-click="vm.skip()">
                        <i class="fa fa-fast-forward"></i> I don't know
                    </button>
                    <button class="btn btn-success" ng-click="vm.upvote()">
                        <i class="fa fa-check-square-o"></i> Makes sense
                    </button>
                </div>

                <h3 class="action-description" ng-switch="vm.change.type">
                <span ng-switch-when="Delete">Delete Post <span small-post node="vm.change.post"></span></span>
                <span ng-switch-when="Edit">Edit Post <span small-post node="vm.change.post"></span></span>
                <span ng-switch-when="AddTag">
                    Put Post <span small-post node="vm.change.post"></span>
                    <!-- TODO: FIXME: context color does not change for next context -->
                    in context <span tag-label="vm.change.tag"></span>

                    <span ng-if="vm.change.classifications.length">
                        as a <span ng-repeat="classification in vm.change.classifications" tag-label="classification"></span>
                    </span>
                </span>

                <span ng-switch-when="RemoveTag">
                    Take Post <span small-post node="vm.change.post"></span>
                    out of context <span tag-label="vm.change.tag" ng-class="{removed: !vm.change.classifications.length}"></span>
                    <span ng-if="vm.change.classifications.length">
                        as a <span ng-repeat="classification in vm.change.classifications" class="removed" tag-label="classification"></span>
                    </span>
                </span>

            </h3>

                <div ng-class="vm.actionclasses">
                    <ul tabset class="tabs-above">
                        <li tab>
                            <a tab-heading>Old</a>
                            <div class="post" colored-tag-node="vm.change.post" big="true">
                                <h2 class="post-title" ng-bind="vm.change.oldTitle"></h2>
                                <span ng-repeat="tag in (vm.change.post | nodetags) track by tag.id" tag-label="tag"></span>
                                <div ng-show="vm.showDescription" class="post-description" markdown="vm.change.oldDescription" ng-show="vm.change.oldDescription"></div>
                            </div>

                        </li>
                        <li tab active="vm.showMiddleTab">
                            <a tab-heading>Difference</a>
                            <div class="post" colored-tag-node="vm.change.post" big="true" ng-switch="vm.change.type" ng-class="{'removed-post': vm.is('Delete')}">
                                <h2 class="post-title">
                                <div ng-if="vm.is('Edit')" word-based-diff source-a="vm.change.oldTitle" source-b="vm.change.newTitle"></div>
                                <span  ng-if="!vm.is('Edit')" ng-bind="vm.change.post.title"></span>
                            </h2>
                                <span ng-if="!vm.is('AddTag') && !vm.is('RemoveTag')" ng-repeat="tag in (vm.change.post | nodetags) track by tag.id" tag-label="tag"></span>

                                <div ng-switch-when="AddTag">
                                    <span ng-repeat="tag in vm.change.post.tags.concat([vm.change.tag]) | unique:'id'" tag-label="tag" class="tag" ng-class="{'existing': tag.id !== vm.change.tag.id}"></span>
                                </div>

                                <div ng-switch-when="RemoveTag">
                                    <span ng-repeat="tag in vm.change.post.tags" tag-label="tag" class="tag"></span>
                                    <span tag-label="vm.change.tag" class="tag" ng-class="{removed: !vm.change.classifications.length}"></span>
                                </div>

                                <div ng-show="vm.showDescription" class="post-description">
                                    <div ng-switch-when="Edit" ng-show="vm.showDescription" class="diff" word-based-diff source-a="vm.change.oldDescription" source-b="vm.change.newDescription"></div>
                                    <div ng-show="!vm.is('Edit') && vm.showDescription" class="plain" markdown="vm.change.newDescription"></div>
                                </div>
                            </div>
                        </li>
                        <li tab>
                            <a tab-heading>New</a>
                            <div class="post" colored-tag-node="vm.change.post" big="true">
                                <h2 class="post-title" ng-bind="vm.change.newTitle"></h2>
                                <span ng-repeat="tag in (vm.change.post | nodetags) track by tag.id" tag-label="tag"></span>

                                <div class="post-description" markdown="vm.change.newDescription"</div>
                            </div>
                        </li>
                    </ul>
                </div>

            </div>

        </div>
    </div>
    <p class="text-muted information-box">Here you can see changes made by other users. You can decide whether these changes should be accepted or rejected.</p>
</div>
