<div id="history_list">
    <div tabset class="tabs-above">
        <div tab>
            <div tab-heading>
                Recently viewed
            </div>
            <div class="tab_body">
                <div ng-repeat="visited in vm.history.visited track by visited.id" small-post node="visited" class="ng-trans ng-trans-scale-up ease"></div>
            </div>
        </div>
        <div tab>
            <div tab-heading>
                Search results
            </div>
            <div class="tab_body">
                <form ng-submit='vm.onSearchBoxChange()'>
                    <div class="form-group has-feedback">
                        <input type="text" placeholder="Search" class="form-control" ng-model="vm.search.query" ng-change='vm.onSearchBoxChange()'>
                        <i class="fa fa-search form-control-feedback" style="pointer-events:all; cursor: pointer;"></i>
                    </div>
                </form>
                <div ng-repeat="result in vm.search.results track by result.id" small-post node="result" class="ng-trans ng-trans-scale-up ease"></div>
            </div>
        </div>
    </div>
</div>
