@import "globals";

#history_list {
    background: $history_background_color;
    //needs to correspond to width in page.scss
    width: 250px; // fixed, because 100% stretches the content when hiding
    height: 100%;
    padding: 5px;
    overflow-y: auto;

    .nav-tabs {
        a {
            font-size: 10pt;
            padding-left: 10px;
            padding-right: 10px;
        }
    }
    .tab_body {
        padding-top: 5px;
    }
    .small-post {
        max-width: 100%;
        width: 100%;
        a:visited {
            color: black;
        }
    }
}

