@import "globals";

#history_list {
    background: $history_background_color;
    width: 200px; // fixed, because 100% stretches the content when hiding
    height: 100%;
    padding: 5px;
    overflow-y: auto;

    .small_post_directive {
        max-width: 100%;
        width: 100%;
        a:visited {
            color: black;
        }
    }
}

