#scratchpad_component {
    height: 100%;
    padding: 5px;
    .new_post_button {
        font-style: normal;
        text-decoration: none;
        color: inherit;
    }
    #edit_list {
        padding-top: 10px;
    }
    .editable-click {
        border-bottom: 1px solid #ccc;
    }
    .editable-click.is_invalid {
        border-bottom: 1px solid red;
    }
    #scratch_end_drop_post_container {
        height: 50px;
    }
    .drop_post_container {
        margin: 3px;
        padding: 5px;
    }
}

