#scratchpad_component {
    height: 100%;
    padding: 5px;
    #node_add {
        padding-top: 10px;
        padding-bottom: 10px;
        .close {
            font-size: 25px;
            padding-left: 10px;
            padding-right: 10px;
        }
    }
}

