#scratchpad_component {
    height: 100%;
    padding: 5px;
    #edit_list {
        padding-top: 10px;
    }
    #scratch_end_drop_post_container {
        height: 50px;
    }
    .drop_post_container {
        margin: 3px;
        padding: 5px;
    }
}

