<div id="scratchpad_component">
    <button editable-text="vm.newPost.title" buttons="no" onaftersave="vm.editNewPost()" e-placeholder="TL,DR" e-required e-class="wust_form_input" class="new_post_button btn btn-default"><i class="fa fa-file-o"></i> New post</button>
    <button class="close view_close_button pull-right" ng-click="vm.sidebar.left.visible = false" aria-label="Close " data-title="hide scratchpad" bs-tooltip animation=""><span aria-hidden="true">&times;</span></button>
    <div id="edit_list">
        <div ng-repeat="node in vm.editList" class="ng-trans ng-trans-scale-up ease">
            <div class="drop_post_container" drop-channel="node,scratch_node,scratch_move" ui-on-Drop="vm.edit($data, $index)">
                <div collapse-edit-post node="node"></div>
            </div>
        </div>
        <div id="scratch_end_drop_post_container" class="drop_post_container" drop-channel="node" ui-on-Drop="vm.edit($data, vm.editList.length)">
    </div>
</div>
