<div id="scratchpad_component">
    <button ng-click="vm.edit()" type="submit" class="btn btn-default"><i class="fa fa-file-o"></i> New post</button>
    <button class="close view_close_button pull-right" ng-click="vm.leftSide.visible = false" aria-label="Close " data-title="hide scratchpad" bs-tooltip animation=""><span aria-hidden="true">&times;</span></button>
    <div class="drop_post_container" drop-channel="create_connect,connect" ui-on-Drop="vm.edit($data)"></div>
    <div id="edit_list" class="discourse_post_list" as-sortable="vm.sortableOptions" ng-model="vm.editList">
        <div ng-repeat="node in vm.editList" as-sortable-item class="as-sortable-item ng-trans ng-trans-scale-up ease">
            <div as-sortable-item-handle class="as-sortable-item-handle">
                <div collapse-edit-post node="node" ></div>
            </div>
        </div>
    </div>
</div>
