@import "globals";
@import "bootstrap/variables";

.survey {
    overflow: hidden;
    margin-top: 1px;
    min-height: 48px;
    max-height: 48px;
    padding: 2px !important;
    width: 370px;
    position: absolute;
    z-index: 200;
    &:hover {
        overflow: auto;
        max-height: 200px;
    }
    a {
        color: white;
    }
    .info_text {
        padding-left: 3px;
        padding-right: 3px;
        .description_text {
            padding: 3px;
        }
    }
}
