<div class="survey alert alert-success">
    <span class="info_text">
        <b class="text-center" ng-bind="vm.exercises[vm.currentIndex].title"></b>
        <div>
            <button type="button" class="btn btn-xs btn-default" ng-hide="vm.currentIndex < 1" ng-click="vm.back()">Zurück</button>
            <span class="second-title" ng-bind="vm.exercises[vm.currentIndex].secondTitle"></span>
            <button type="button" class="pull-right btn btn-xs btn-primary" ng-show="vm.currentIndex < vm.exercises.length - 1" ng-click="vm.next()">Weiter</button>
            <a href="https://www.surveymonkey.com/r/woost" target="_blank" class="pull-right btn btn-xs btn-primary" ng-click="vm.finished()" ng-hide="vm.currentIndex < vm.exercises.length - 1">Fragebogen</a>
            <span class="pull-right second-title">{{vm.currentIndex + 1}} / {{vm.exercises.length}}</span>
        </div>
            <br />
            <div class="description_text" markdown="vm.exercises[vm.currentIndex].description"></div>
        </span>
        <h4 class="text-center" ng-hide="vm.currentIndex < vm.exercises.length - 1">
            Bitte füllen Sie jetzt den <a href="https://www.surveymonkey.com/r/woost" target="_blank" ng-click="vm.finished()">Fragebogen</a> aus.
        </h4>
        <div class="email-info" ng-show="vm.exercises[vm.currentIndex].email">
            <hr />
            Bei Fragen oder Problemen schreiben Sie uns bitte eine kurze E-Mail:
            <div>
                <a href="mailto:felix.dietze@rwth-aachen.de">felix.dietze@rwth-aachen.de</a>
            </div>
            <div>
                <a href="mailto:johannes.karoff@rwth-aachen.de">johannes.karoff@rwth-aachen.de</a>
            </div>
            <br />
        </div>
</div>
