#scratchpad_component {
    height: 100%;
    #create_new {
        max-width: 300px;
    }
    .ace_editor {
        margin: 5px;
        height: 70%;
        min-width: 200px;
        min-height: 200px;
    }
}
