<div id="scratchpad_component">
    <div id="node_add">
        <label>Edit:</label>
        <button ng-click="vm.edit()" type="submit" class="btn btn-default btn-xs"><i class="fa fa-file-o"></i> </button>
    </div>

    <div id="edit_list" class="discourse_post_list">
        <hr noshade size="1">
        <label>Currently edited:</label>
        <div ng-repeat="node in vm.editStack | reverse">
            <div class="drop_post_container" drop-channel="connect" ui-on-Drop="vm.edit($data, $index)"></div>
            <div edit-post node="node"></div>
        </div>
        <div class="drop_post_container" drop-channel="connect" ui-on-Drop="vm.edit($data, vm.editStack.length)"></div>
    </div>
</div>
