<div id="browse_component">
    <div carousel set-ng-animate='false' on-carousel-change="onSlideChanged(nextSlide, direction)" id="carousel" interval="0">
        <div slide ng-repeat="slide in slides" active="slide.active">
            <div id="slide_stripe" ng-class="slide.info.css"></div>
            <div id="create_new">
                <h2 ng-bind="slide.newTitle"></h2>
                <form ng-submit="slide.addNode()">
                    <div class="input-group">
                        <input type="text" class="form-control" ng-model="slide.newNode.title" required>
                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-success"><i class="fa fa-plus"></i> </button>
                        </span>
                    </div>
                </form>
            </div>

            <h2 ng-bind="slide.listTitle"></h2>
            <div id="list_existing">
                <div ng-repeat="node in slide.nodes | fuzzyFilter:slide.newNode">
                    <a ui-sref="{{slide.info.getState(node.id)}}" ng-class="slide.info.css" class="node">{{node.title}}</a>
                </div>
            </div>
        </div>
    </div>
</div>
