<div class="modal_edit modal">
    <form class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <span ng-switch="vm.node.referenceNode">
                    <span ng-switch-when="undefined">
                        <label ng-if="vm.node.newDiscussion">New Discussion</label>
                    </span>
                    <span ng-switch-default>
                        <label>Replies to</label>
                        <span small-post node="vm.node.referenceNode"></span>
                    </span>
                </span>
            </div>
            <div colored-tag-node="vm.node" class="modal-body">
                <div edit-post node="vm.node" always-show-tag-suggestions="true" input-focus="true"></div>
            </div>
            <div class="modal-footer">
                <span class="btn btn-default" ng-click="$hide()">Cancel</span>
                <span class="btn btn-success" type="submit" ng-click="vm.save()" ng-disabled="!vm.node.canSave">
                    <span ng-if="vm.node.newDiscussion">Start Discussion</span>
                    <span ng-if="!vm.node.newDiscussion"><i class="fa fa-plus"></i></span>
                </span>
            </div>
        </div>
    </form>
</div>
