@import "globals";

.modal_edit {
    .modal-header {
        .small_post_directive {
            margin-left: 20px;
        }
    }
    .modal-body {
        padding: 15px;
        .description {
            min-height: 200px;
            .edit_post_description_directive {
                height: 200px;
            }
        }
    }
}
