@import "globals";

.modal_edit {
    .modal-header {
        .reference-node {
            margin-left: 20px;
            width: 200px;
            display: inline-block;
            .node_dispatcher {
                margin-left: 0px;
            }
        }
    }
    .modal-body {
        padding: 15px;
        .description {
            min-height: 200px;
            .edit_post_description_directive {
                height: 200px;
            }
        }
    }
}
