<div class="modal_edit modal">
    <form class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <span ng-if="vm.node.referenceNode">
                    <label>Responding to</label>
                    <span small-post node="vm.node.referenceNode" class="disable-link reference-node"></span>
                </span>
            </div>
            <div class="modal-body" colored-tag-node="vm.node" big="true">
                <div new-post node="vm.node" input-focus="true" preview-enabled="vm.previewEnabled"></div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" ng-click="$hide()">Cancel</button>
                <button class="btn btn-default" ng-click="vm.previewEnabled = !vm.previewEnabled" onclick="this.blur()" ng-model="vm.previewEnabled" bs-checkbox>
                    <i class="fa" ng-class="{'fa-eye-slash': vm.previewEnabled, 'fa-eye': !vm.previewEnabled}"></i> Preview
                </button>
                <button class="btn btn-success" type="submit" ng-click="vm.save()">
                    <span ng-if="::vm.node.newDiscussion">Start Discussion</span>
                    <span ng-if="::!vm.node.newDiscussion"><i class="fa fa-plus"></i></span>
                </button>
            </div>
        </div>
    </form>
</div>
