.discourse_node_list_container {
    .discourse_node_search_form {
        padding: 2pt;
    }

    .on-drag-hover:after {
        content: 'Drop to connect';
        display: block;
        color: black;
        font-size: large;
    }
}
