<div class="big_post_directive">
    <div ui-draggable="true" drag="node" drag-channel="{{node.label}}" class="panel panel-default" ng-class="nodeInfo.css">
        <div class="panel-heading">
            <h3 class="panel-title" style="display:inline;">{{node.title || (node.description | trim:true:15)}}</h3>
            <button class="pull-right btn btn-xs btn-danger" ng-click="removeFocused()"><i class="fa fa-trash-o"></i></button>
            <button class="pull-right btn btn-xs btn-success" ng-click="updateFocused()"><i class="fa fa-pencil"></i></button>
        </div>
        <div class="panel-body">
            <div ng-bind="node.description" class="well well-sm post_description" ></div>
            <div big-taglist tags="node.tags" class="taglist">
                here be tags
            </div>
        </div>
    </div>
</div>
