.discourse_node_list {
    .discourse_node_search_form {
        padding: 2pt;
    }
}

.discourse_node_list_horizontal {
    .discourse_node_list {
        .node_model_list {
            padding: 6px;
            @include display-flex(flex);
            @include flex-wrap(wrap);
            @include justify-content(left);
        }
    }
}
.discourse_node_list_vertical {
    .discourse_node_list {
        .node_model_list {
            padding: 6px;
        }
    }
}
