<!-- TODO:handle writable option -->
<div class='discourse_node_list'>
    <div class="drop_post_container" ui-on-Drop="vm.nodeModel.add($data)" drop-channel="scratch_create_connect,scratch_connect,create_connect,connect"></div>

    <div ng-if="vm.isLoading" class="little_loading_indicator">
        <div class="relative_spinner spinner"></div>
    </div>
    <div ng-include="'show_discourse_node_list.html'"></div>
</div>

<script type="text/ng-template" id="show_discourse_node_list.html">
    <div class="node_model_list">
        <div ng-repeat='node in vm.nodeModel.list track by node.id' ng-switch="::vm.nodeModel.isNested" ng-animate-children class="ng-trans ng-trans-scale-up ease">
            <div ng-switch-when="true">
                <div class="btn-group" role="group">
                    <span small-post node="node" on-disconnect='vm.remove'></span>
                </div>
                <div>
                    <div ng-repeat="nested in node.nestedNodeLists[vm.nodeModel.listId]" discourse-node-list node-model='nested.model'></div>
                </div>
            </div>
            <div ng-switch-default class="btn-group" role="group">
                    <span small-post node="node" on-disconnect='vm.remove'></span>
            </div>
        </div>
    </div>
</script>
