<div class="graph_view_component">
    <div ng-if="vm.isLoading || !vm.isConverged" class="loading_indicator">
        <div class="la-ball-triangle-path la-2x la-dark la-absolute">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <div d3-graph class="graph_network" ui-on-Drop="vm.addNodeToGraph($data, $event)" drop-channel="node,scratch_node">
        <div id="filter_input">
            <input type="text" class="form-control" ng-model="vm.search.title" placeholder="Filter">
        </div>
    </div>
    <div class="post-preview-frame top right" ng-show="vm.d3Info.isHovering || vm.d3Info.stickyPreview">
        <div preview node="vm.d3Info.hoveredNode || vm.d3Info.stickyPreview">
            <button class="close pull-right" ng-click="vm.d3Info.stickyPreview = undefined" type="button"><span aria-hidden="true">&times;</span></button>
            <p class="text-muted preview-info">Click to focus this post. Long press to make this preview sticky.</p>
        </div>
    </div>
</div>
