<ul class='list-group'>
    <li class='list-group-item filled_items' ng-repeat='item in items.list | objectToArray | orderBy:"title"'>
        <a ui-sref="{{item.label | lowercase}}s({id: item.id})" class="discourse_{{item.label | lowercase}}">{{item.title}}</a>
        <button class='btn btn-danger' ng-click='items.remove($index)'><i class='fa fa-minus'></i>
        </button>
    </li>
    <li class='list-group-item filled_items'>
        <form ng-submit='items.add()'>
            <input type='text' ng-model='items.new.title' required>
            <button type="submit" class='btn btn-success'><i class='fa fa-plus'></i>
            </button>
        </form>
    </li>
</ul>
