<div id="focus_view_container">
    <div class="filled_items">
        <div id="problem_view">
            Problems:
            <div change-item-list items='problems'></div>
        </div>
        <div id="focus_view">
            <div id="node_view" class="discourse_{{node.label | lowercase}}">
                {{node.label}}: {{node.title}}
            </div>
            <div id="idea_view">
                Ideas:
                <div change-item-list items='ideas'></div>
            </div>
        </div>
        <div id="goal_view">
            Goals:
            <div change-item-list items='goals'></div>
        </div>
    </div>
</div>
