<div id="focus_view_container">
    <div id="problem_view">
        <h2>Problems:</h2>
        <div show-discourse-node-list ng-model='problems.model'></div>
    </div>
    <div id="focus_view_center">
        <div id="node_view">
            <div class="panel panel-default" ng-class="nodeCss">
                <div class="panel-heading">
                    <h3 editable-textarea="node.title" e-rows="7" e-cols="40" onaftersave="updateFocused(node)" style="display:inline;" class="panel-title" ng-bind="node.title"></h3>
                    <button class="pull-right btn btn-xs btn-danger" ng-click="removeFocused()"><i class="fa fa-trash-o"></i></button>
                </div>
                <div class="panel-body">
                    Panel content
                </div>
            </div>
        </div>
        <div id="idea_view">
            <h2>Ideas:</h2>
            <div show-discourse-node-list ng-model='ideas.model'></div>
        </div>
    </div>
    <div id="goal_view">
        <h2>Goals:</h2>
        <div show-discourse-node-list ng-model='goals.model'></div>
    </div>
</div>
<ul>
    <li ng-repeat="message in messages" ng-bind="message"></li>
</ul>
