<div id="focus_view_container">
    <div class="filled_items">
        <div id="problem_view">
            <h2>Problems:</h2>
            <div show-discourse-node-list ng-model='problems'></div>
        </div>
        <div>
            <div id="node_view">
                <h2>Focus</h2>
               <span ng-class="nodeCss">
                   {{node.label}}: {{node.title}}
               </span>
            </div>
            <div id="idea_view">
                <h2>Ideas:</h2>
                <div show-discourse-node-list ng-model='ideas'></div>
            </div>
        </div>
        <div id="goal_view">
            <h2>Goals:</h2>
            <div show-discourse-node-list ng-model='goals'></div>
        </div>
    </div>
</div>
