<div id="graph_detail">
    <h2 ng-bind="selected.title"></h2>
    <div class="filled_items">
        <div id="idea_list">
            <b>Ideas:</b>
            <div change-item-list items="selected.ideas" new-item="newIdea" add-item="addNode" remove-item="removeNode"></div>
        </div>
        <div id="question_list">
            <b>Questions:</b>
            <div change-item-list items="selected.questions" new-item="newQuestion" add-item="addNode" remove-item="removeNode"></div>
        </div>
    </div>
</div>
