<div id="graph_detail">

    <div class="problem_box">
        <h2 ng-bind="selected.title"></h2>
        <textarea readonly="readonly" ng-if="selected.text !== ''" ng-bind="selected.text"></textarea>
    </div>
    <div class="filled_items">
        <div id="idea_list">
            <b>Ideas:</b>
            <div change-item-list items="selected.ideas" new-item="newIdea" add-item="addIdea" remove-item="removeIdea"></div>
        </div>
        <div id="question_list">
            <b>Questions:</b>
            <div change-item-list items="selected.questions" new-item="newQuestion" add-item="addQuestion" remove-item="removeQuestion"></div>
        </div>
    </div>
</div>
