<div id="home_container">
    <h1>Wust!</h1>

    <div id="problem_create">
        <h2>What is your problem?</h2>
        <form ng-submit="addProblem()">
            <input size=50 type="text" ng-model="newProblem.title" required>
            <button submit-on-click class="btn btn-success"><i class="fa fa-plus"></i></button>
        </form>
    </div>

    <div id="problem_list">
        <h2>Existing problems:</h2>
        <div ng-repeat="problem in problems">
            <a ui-sref="problems.view({id: problem.id})">{{problem.title}}</a>
        </div>
    </div>
</div>
