<div id="problem_container">
    <h2>Goals</h2>
    <ul class="list-group end_items">
        <li class="list-group-item" ng-repeat="goal in goals">
            {{goal.title}}
        </li>
        <li class="list-group-item">
            <form ng-submit='addGoal()'>
                <input type='text' ng-model='newGoal.title'>
                <button type="submit" class='btn btn-success'><i class='fa fa-plus'></i>
                </button>
            </form>
        </li>
</div>

<h2>Problem: {{problem.title}}</h2>

<div ui-view></div>
</div>
