<div class="panel panel-default" ng-class="ngModel.css.discourse">
    <a ui-sref="{{ngModel.state}}({id: node.id})">
        <div class="panel-heading">
            <h3 class="panel-title">{{node.title}}</h3>

        </div>
    </a>
    <div class="panel-body">
        Panel content
        <br />
        <!-- <span class="discourse_proargument node">pro</span> -->
        <!-- <span class="discourse_conargument node">con</span> -->
        <button class='btn btn-default btn-xs pull-right' ng-click='ngModel.remove(node)'>
            <i class='fa fa-minus'></i>
        </button>
    </div>
</div>
