<div class="container">
    <div style="height:120px">
        <div style="margin-bottom:50px" ng-show="showundo">
            <button class="btn btn-default" ng-click="undo()">
                <i class="fa fa-1x fa-arrow-left"></i> undo last vote
            </button>
        </div>
    </div>
    <div style="display:flex;height:200px">
        <div style="text-align:center;height:60px;width:60px">
            <i class="fa fa-3x fa-fw" ng-class="change.icon"></i>
            <br/> {{change.action}}
        </div>

        <div style="display:flex; flex-direction: column; padding-left:50px">

            <div ng-show="change.action == 'delete'" style="padding:20px;padding-top:5px">
                <span ng-class="change.affected.node.class">{{change.affected.node.title}}</span>
            </div>

            <div ng-show="change.action == 'create'" style="padding:20px;padding-top:5px">
                <span ng-class="change.affected.node.class">{{change.affected.node.title}}</span>
            </div>

            <div ng-show="change.action == 'connect'" style="padding:20px;padding-top:5px">
                <div style="text-align:center">
                    <span ng-class="change.affected.startnode.class">{{change.affected.startnode.title}}</span>
                </div>
                <div style="display:flex;padding:10px;margin-left:180px;">
                    <i class="fa fa-2x fa-long-arrow-down"></i>

                    <div>{{change.affected.relation.title}}</div>
                </div>
                <div style="text-align:center">
                    <span ng-class="change.affected.endnode.class">{{change.affected.endnode.title}}</span>
                </div>
            </div>

            <div ng-show="change.action == 'disconnect'" style="padding:20px;padding-top:5px">
                <div style="text-align:center">
                    <span ng-class="change.affected.startnode.class">{{change.affected.startnode.title}}</span>
                </div>
                <div style="display:flex;padding:10px;margin-left:180px;">
                    <span class="fa-stack">
                        <i class="fa fa-stack-2x fa-long-arrow-down"></i>
                        <i class="fa fa-stack-2x fa-close" style="color:red"></i>
                    </span>

                    <div>{{change.affected.relation.title}}</div>
                </div>
                <div style="text-align:center">
                    <span ng-class="change.affected.endnode.class">{{change.affected.endnode.title}}</span>
                </div>
            </div>

            <div ng-show="change.action == 'flag'" style="padding:20px;padding-top:5px">
                <span ng-class="change.affected.node.class">{{change.affected.node.title}}</span>

                <i class="fa fa-flag" style="margin-left:30px"></i> spam
            </div>


            <div ng-include="'assets/views/vote_buttons.html'" style="margin-top:auto"></div>
        </div>
    </div>
</div>
