.view_close_button {
    font-size: 25px;
    padding: 10px;
}

.is_invalid {
    // &.ng-touched, .ng-touched {
        border: 2px solid red !important;
    // }
}

.disable-link {
    pointer-events: none;
    cursor: default;
}

.error_message {
    color: red !important;
    display: none;
}

.error_message.show {
    display: block;
}

// make contenteditable elements work with webkit
// http://stackoverflow.com/questions/4251227/contenteditable-div-not-actually-editable-in-webkit
*[contenteditable] {
    -webkit-user-select: auto !important;
}
