.view_close_button {
    font-size: 25px;
    padding: 10px;
}

.is_invalid {
    border: 2px solid red !important;
}

.disable-link {
    pointer-events: none;
    cursor: default;
}

[contenteditable='true'][placeholder]:empty:before {
    content: attr(placeholder);
    color: #A9A9A9;
}

.error_message {
    color: red !important;
}

// make contenteditable elements work with webkit
// http://stackoverflow.com/questions/4251227/contenteditable-div-not-actually-editable-in-webkit
*[contenteditable] {
    -webkit-user-select: auto !important;
}
