@function bordercolor($bgcolor) {
    @return desaturate(darken($bgcolor, 34), 43)
}

@function highlightbgcolor($bgcolor) {
    @return lighten(saturate($bgcolor, 10), 10);
}

$graph_relation_color: #666;
$graph_connectorline_color: #3B85FF;

$dashboard_recent_header_border: #6db5ff;

//TODO: use bootstrap variables
$nav_normal_color: white;
$nav_normal_background: #343434;
$nav_active_color: black;
$nav_active_background: white;
$nav_hover_color: black;
$nav_hover_background: #d8d8d8;

$sidebar_border: 1px solid  #d8d8d8;
$stream_border: 2px solid  #d8d8d8;

// intense tags
// $vote_button_color: #e8e8e8;
// $vote_button_hover_color: white;
// light tags
$vote_button_color:  #777;
$vote_button_hover_color:  black;
$vote_button_active_color: black;

$zindex_search: 1010;
$zindex_zen: 1009;
$zindex_sidebar_fullscreen: 1003;
$zindex_left_side_toggle: 1002;
$zindex_right_side_toggle: 1002;
$zindex_fiter_input: 200;
$zindex_post_preview_frame: 300;
$zindex_fiter_input: 200;
