@import "globals";
@import "compass/css3/flexbox";
@import "compass/css3";

h1,h2,h3 {
    margin: 0px;
    padding: 20px 0px;
}

html, body {
    margin: 0px;
    font-family: $font-family;
    font-size: 14px;
    height: 100%;
    overflow: hidden;
    #page {
        height: 100%;
    }
    #noscriptmsg {
        margin: 20px auto;
        width: 300px;
        background-color: seagreen;
        color: white;
        text-align: center;
    }
}
