.tag {
    display: inline-block !important;
    height: 24px;
    margin: 0 7px 0 0;
    padding: 0 5px !important;

    // intense tags are without border and bold
    // light tags are with 1px border and normal
    font-weight: normal;
    border: 1px solid;

    border-radius: 2px;
    font-size: 14px;
    line-height: 24px !important;
    color: black !important;

    cursor: pointer;

    a, a:link, a:active, a:visited  {
        color: black !important;
        text-decoration: none;
    }
    a:hover {
        background-color: inherit !important;
        color: inherit;
        text-decoration: none;
        opacity: 1;
    }
}

