@import "compass/css3/flexbox";

#dashboard_component {
    //TODO: why is the height scrollable with 100%?
    //only here in dashboard...
    height: 100%;
    #posts_view {
        #stream_list {
            @include display-flex(flex);
            @include flex-wrap(wrap);
            @include flex-direction(rows);
            @include justify-content(flex-start);
            width: 90%;
            margin: 0 auto;
            .stream_box {
                border: $stream_border;
                border-radius: 5px;
                padding: 5px;
                margin: 5px;
                .tag_title {
                    margin-bottom: 10px;
                }
                .node_list {
                    height: 400px;
                    max-height: 400px;
                    width: 330px;
                    overflow: auto;
                    .node {
                        margin: 3px;
                    }
                }
            }
        }
    }
    .widget {}
}

