@import "compass/css3/flexbox";

#dashboard_component {
    text-align: center;
    #posts_view {
        padding: 50px;
        #create_new {
            margin-left: auto;
            margin-right: auto;
            width: 30%;
            padding: 10px;
        }
        #list_existing {
            margin: 0 auto;
            width: 70%;
            padding: 30px;
            @include display-flex(flex);
            @include flex-wrap(wrap);
            @include justify-content(center);
            .node {
                margin: 5px;
            }
        }
    }
}
