<div id="dashboard_component">
    <div id="posts_view">
        <div id="header_list">
            <h2>
                Streams
                <button class="btn btn-default" type="button" animation="am-fade-and-scale-down" ng-click="vm.showModal()"><i class="fa fa-plus"></i></button>
            </h2>
            <div class="table container">
                <div class="table-row header">
                    <label>Recent posts</label>
                    <hr>
                </div>
                <div class="table-row body">
                    <div class="table-cell body-content-wrapper">
                        <div class="table-cell body-content">
                            <span ng-repeat="post in vm.recentPosts track by post.id" small-post node="post"></spanm>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="stream_list" as-sortable="vm.sortableOptions" ng-model="vm.streams">
            <div class="table container ng-trans ng-trans-scale-up ease as-sortable-item" ng-animate-children as-sortable-item ng-repeat="stream in vm.streams">
                <div class="table-row header">
                    <div>
                        <label>Tagged posts</label>
                        <i class="as-sortable-item-handle fa fa-arrows" as-sortable-item-handle></i>
                        <button class="close" ng-click="vm.removeStream($index)" type="button" aria-label="Close " data-title="remove stream" bs-tooltip animation=""><span aria-hidden="true">&times;</span></button>
                    </div>
                    <hr>
                    <span ng-repeat="tag in stream.tags track by tag.id" ng-class="::vm.nodeInfo.css" class="{{::vm.nodeInfo.tagCss(tag)}}" ng-bind="tag.title"></span>
                    <i class="fa fa-pencil pull-right" style="cursor: pointer;" ng-click="vm.editModal(stream)"></i>
                    <hr>
                </div>
                <div class="table-row body">
                    <div class="table-cell body-content-wrapper">
                        <div class="table-cell body-content">
                            <div ng-repeat="post in stream.posts track by post.id" small-post node="post"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
