<div id="dashboard_component">
    <div id="posts_view">
        <div id="header_list">
            <h2>
                Streams
                <button class="btn btn-default" type="button" animation="am-fade-and-scale-down" ng-click="vm.showModal()"><i class="fa fa-plus"></i></button>
            </h2>
        </div>
        <div id="stream_list" as-sortable="vm.sortableOptions" ng-model="vm.streams">
            <div class="table container ng-trans ng-trans-scale-up ease as-sortable-item" ng-animate-children as-sortable-item ng-repeat="stream in vm.streams">
                <div class="table-row header">
                    <div class="as-sortable-item-handle" as-sortable-item-handle>
                        <a ui-sref="tags.details({id: tag.id})" ng-repeat="tag in stream.tags track by tag.id" class="tag" colored-tag-fill="tag" ng-bind="tag.title"></a>

                        <button class="close pull-right" ng-click="vm.removeStream($index)" type="button" aria-label="Close " data-title="remove stream" bs-tooltip animation=""><span aria-hidden="true">&times;</span></button>
                        <i class="fa fa-pencil pull-right edit_button" style="cursor: pointer;" ng-click="vm.editModal(stream)" data-title="change tags" bs-tooltip animation=""></i>
                    </div>
                    <hr>
                </div>
                <div class="table-row body">
                    <div class="table-cell body-content-wrapper">
                        <div class="body-content-inner-wrapper">
                            <div class="body-content">
                                <div ng-repeat="post in stream.posts track by post.id" small-post node="post"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="table container recent_container">
            <div class="table-row header">
                <h3>Recent posts</h3>
            </div>
            <div class="table-row body">
                <div class="table-cell body-content-wrapper">
                    <div class="body-content-inner-wrapper">
                        <div class="body-content">
                            <span ng-repeat="post in vm.recentPosts track by post.id" small-post node="post"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
