<div id="dashboard_component">
    <div id="posts_view">
        <h2 ng-bind="vm.slide.newTitle"></h2>
        <form ng-submit="vm.slide.addNode()">
            <div class="input-group">
                <input type="text" class="form-control" ng-model="vm.slide.newNode.title" required>
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-success"><i class="fa fa-plus"></i> </button>
                </span>
            </div>
        </form>

        <h2 ng-bind="vm.slide.listTitle"></h2>
        <div id="list_existing">
            <div ng-repeat="node in vm.slide.nodes | fuzzyFilter:vm.slide.newNode">
                <a ui-sref="{{vm.slide.info.getState(node.id)}}" ng-class="vm.slide.info.css" class="node">{{node.title}}</a>
            </div>
        </div>
    </div>
</div>
