<div class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Select tag:</h3>
            </div>
            <div class="modal-body">
                <div edit-taglist tags="vm.selectedTags"></div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" ng-click="$hide()">Cancel</button>
                <button class="btn btn-primary" ng-click="vm.save();$hide()">OK</button>
            </div>
        </div>
    </div>
</div>
