@import "compass/css3/flexbox";

.edit_post_directive {
    .edit_title {
        padding: 10px;
    }
    .edit_tags {
        padding: 10px;
    }
    .ace_editor {
        margin: 10px;
        height: 100px;
    }
}
