@import "compass/css3/flexbox";

.edit_post_directive {
    .title_edit {
        .input-group {
            max-width: 300px;
        }
    }
    .ace_editor {
        margin: 10px;
        height: 100px;
        min-width: 100px;
    }
}
