<div class="big_post_directive">
    <div ui-draggable="true" drag="vm.node" drag-channel="{{vm.node.label}}" class="panel panel-default" ng-class="vm.nodeInfo.css">
        <div class="panel-heading">
            <a ng-href="{{vm.nodeInfo.getHref(node.id)}}" class="node panel-title">{{vm.node.title || (vm.node.description | trim:true:15)}}</a>
            <button class="pull-right btn btn-xs btn-danger" ng-click="vm.removeFocused()"><i class="fa fa-trash-o"></i></button>
            <button class="pull-right btn btn-xs btn-success" ng-click="vm.updateFocused()"><i class="fa fa-pencil"></i></button>
        </div>
        <div class="panel-body">
            <div ng-bind="vm.node.description" class="well well-sm post_description" ></div>
            <div big-taglist tags="vm.node.tags" class="taglist"></div>
        </div>
    </div>
</div>
