<div class="tag_relation_modal modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" ng-switch="::vm.currentEditRelation.isCreating">
                    <span ng-switch-when="true">Create connection</span>
                    <span ng-switch-default>Edit connection</span>
                </h3>
                <span small-post node="vm.currentEditRelation.endNode"></span>
                <i class="fa fa-arrow-left"></i>
                <span small-post node="vm.currentEditRelation.startNode"></span>
            </div>
            <div class="modal-body">
                <div edit-taglist tags="vm.currentEditRelation.tags" set-focus="true" always-show="true" embed-suggestions="true" tag-type="classification" existing-only="true"></div>
                <progressbar class="progressbar" max="vm.currentEditRelation.startNode.postChangeThreshold" type="{{vm.canApply ? 'success' : 'warning'}}" value="vm.editWeight">
                    <span style="white-space:nowrap; padding-left: 5px;" ng-switch="vm.canApply">
                        <span ng-switch-when="true">You have enough Karma. This change will be applied instantly.</span>
                        <span ng-switch-default>You do not have enough Karma to edit this connection ({{vm.editWeight}} / {{vm.currentEditRelation.startNode.postChangeThreshold}}).</span>
                    </span>
                </progressbar>
            </div>
            <div class="modal-footer">
                <button ng-if="::!vm.currentEditRelation.isCreating" class="pull-left btn btn-danger" ng-disabled="!vm.canApply" ng-click="vm.disconnect();$hide()" data-title="Disconnect" bs-tooltip><i class="fa fa-trash-o"></i></button>
                <button class="btn btn-default" ng-click="vm.cancel();$hide()">Cancel</button>
                <button class="btn btn-default" ng-click="vm.save();$hide()" ng-disabled="!vm.canApply">Save</button>
            </div>
        </div>
    </div>
</div>
