.tag_relation_modal {
    .modal-body {
        min-height: 200px;
    }

    .progessbar {
        width: 100%;
        margin-top: 5px;
        background-color: #a4a4a4;
        color: white;
    }
    .modal-header {
        .small_post_directive {
            width: 200px;
        }
    }
}
