@import "globals";
@import "compass/css3/flexbox";
@import "compass/css3/box-shadow";

.big_post_directive {
    border: 1px solid $post_default_border_color;
    border-radius: 4px;
    padding: 15px;
    .post_title {
        padding: 4px;
    }
    h2 {
        word-wrap: break-word;
    }
    .additional_info {
        padding-bottom: 15px;
    }
    .post_description {
        padding-top: 15px;
        width: 95%;
        max-width: 600px;
    }
    .taglist {
        width: 100%;
        .tag-label {
            display: inline-block;
            margin-bottom: 5px;
        }
    }
    .post_stats {
        color: #aaa;
    }

    .replytool {
        margin-top: 10px;
    }

    .vote_button {
        opacity: 0.5;
        color: black;
        &.active, &:hover {
            opacity: 1;
        }
    }
}
