@import "compass/css3/flexbox";
@import "compass/css3/box-shadow";

.big_post_directive {
    border: 1px solid;
    border-radius: 4px;
    padding: 15px;
    .post_title {
        padding: 4px;
    }
    h2 {
        word-wrap: break-word;
    }
    .timestamp {
        padding-bottom: 15px;
    }
    .post_description {
        padding-top: 15px;
        width: 95%;
        max-width: 600px;
    }
    .taglist {
        width: 100%;
    }
    .post_stats {
        color: #aaa;
    }

    .replytool {
        margin-top: 10px;
    }

    .votemenu {
        $tagheight: 24px;
        $buttonwidth: 80px;
        $height: 160px;

        width: $buttonwidth;

        position: relative;
        left: -$buttonwidth;
        margin-top: -($height -$tagheight)/2;
        margin-bottom: -($height +$tagheight)/2;
        height: $height;
        &>.buttonpair {
            width: $buttonwidth;
            opacity: 0.5;
        }

        .detailed {
            // this class only exists to be able to set display:none
            // and don't interfere with flexbox
            display:none;

            .votebuttons {
                padding: 10px;
                width: 200px;
                position: relative;
                top: -23px;
                @include display-flex(flex);
                @include justify-content(space-between);
                @include flex-direction(row);
                @include align-items(center);
                background-color: #F8F8F8;
                border: 1px solid #333;
                border-radius: 5px;
                @include box-shadow(0 5px 20px #333);
                .buttonpair {
                    @include display-flex(flex);
                    @include justify-content(space-between);
                    @include flex-direction(column);
                    @include align-items(center);
                    width: 120px;
                    .up {
                        position: relative;
                        bottom: -20px;
                    }
                    .down {
                        position: relative;
                        top: -20px;
                    }
                }
            }
        }
    }
    .votemenu:hover, .votemenu > .detailed:hover {
        &>.buttonpair {
            display: none;
        }
        .detailed {
            display: block;
        }
    }


}
