<div class="big_post_directive clearfix" colored-tag-node="vm.node" ng-switch="vm.editMode">
    <div ng-switch-when="true" static-edit-post on-finish="vm.onSave(response)" node="vm.editNode"></div>
    <div ng-switch-default>
        <button class="fa fa-pencil pull-right btn btn-sm btn-default" ng-click="vm.editMode = true" data-title="edit" bs-tooltip animation=""></button>
        <h2 ng-bind="vm.node.title" class="post_title"></h2>
        <div class="timestamp"><span show-timestamp node="vm.node"></span></div>

        <div class="votemenu">
            <div class="buttonpair">
                <i class="icon-up-dir fa-4x"></i>
                <i class="icon-down-dir fa-4x"></i>
            </div>
            <div class="detailed">
                <div class="votebuttons">
                    <div ng-repeat="tag in vm.node.tags track by tag.id" class="buttonpair">
                        <i class="up icon-up-dir fa-4x"></i>
                        <span tag-label="tag"></span>
                    </div>
                </div>
            </div>
        </div>

        <div big-taglist node="vm.node" class="taglist"></div>
        <span toggle-zen node="vm.node" class="pull-right" ng-show="vm.node.description"></span>
        <div class="post_description" markdown="vm.node.description" ng-show="vm.node.description"></div>
        <button class="replytool pull-right btn btn-sm btn-default" ng-click='vm.replyTo()' data-title="respond" bs-tooltip animation=""><i class="fa fa-plus"></i></button>
    </div>
    <a ng-if="vm.tagChanges.length > 0 || vm.editChanges.length > 0" href="#" ng-click="vm.showChanges = !!!vm.showChanges">Post has change requests</a>
    <div ng-show="vm.showChanges">
        <div post-tag-changes="vm.tagChanges" on-apply="vm.onApply(response)"></div>
        <div post-edit-changes="vm.editChanges" on-apply="vm.onApply(response)"></div>
    </div>
</div>
