<div class="collapse_edit_post_directive">
    <div class="panel panel-default">
        <div class="panel-heading" colored-tag-node="vm.node" big="true">
            <div class="pull-left left-controls">
                <i ng-click="vm.node.expandedEditor = !vm.node.expandedEditor; vm.node.onChange()" class="accordion_toggle fa" ng-class="{'fa-chevron-down': vm.node.expandedEditor, 'fa-chevron-right': !vm.node.expandedEditor}"></i>
            </div>

            <div class="center-controls" data-title="Click to edit" bs-tooltip ui-draggable="{{::vm.Auth.isLoggedIn}}" drag="vm.node.encode ? vm.node.encode() : vm.node" drag-channel="{{(!vm.node.isLocal || vm.node.canSave) ? 'scratch_node' : 'scratch_move'}}">
                <h3 contenteditable="true" ng-model="vm.node.title" ng-change="vm.node.onChange()" placeholder="Summary" ng-class="{'is_invalid': vm.node.triedSave && !vm.node.validity.title.valid}" class="title" ng-keydown="vm.redirectEnter($event)"></h3>
                <div validity-info="vm.node" property="title"></div>
            </div>
            <div class="right-controls">
                <i ng-style="{visibility: !vm.node.isPristine && 'visible' || 'hidden'}" class="fa fa-asterisk modified-indicator" data-title="This post contains unsaved changes" bs-tooltip></i>
                <a ng-style="{visibility: !vm.node.isLocal && 'visible' || 'hidden'}" ui-sref="focus({id: vm.node.id})" data-title="Link" bs-tooltip><i class="fa fa-arrow-right"></i></a>
                <button class="close" ng-click="vm.node.remove()" type="button" aria-label="Close " data-title="Remove from scratchpad, discards unsaved changes" bs-tooltip><span aria-hidden="true">&times;</span></button>
                <div class="tag_circle_container">
                    <span ng-repeat="tag in (vm.node | nodetags)" data-title="{{tag.title}}" bs-tooltip>
                        <span colored-tag="tag" tagtype="circle" class="tag_circle" ng-class="tag.isContext ? '' : tag.symbol"></span>
                    </span>
                </div>
            </div>
        </div>
        <div class="panel-body"  colored-tag-node="vm.node" big="true" collapse="!vm.node.expandedEditor">
            <div ng-if="vm.node.referenceNode !== undefined">
                <label>Replies to</label>
                <span small-post node="vm.node.referenceNode"></span>
            </div>
            <div edit-taglist edit-classification="true" tag-type="taglike" tags="vm.node.tags" set-focus="vm.focusEditTags" on-change="vm.node.onChange(type,tag)" ng-class="{'is_invalid': vm.node.triedSave && !vm.node.validity.tags.valid}"></div>
            <div validity-info="vm.node" property="tags"></div>
            <div edit-post-description node="vm.node" class="edit_description"></div>
            <button class="pull-left btn btn-xs btn-danger" ng-click="vm.node.deleteNode();" ng-disabled="vm.node.isLocal" data-title="Delete" bs-tooltip><i class="fa fa-trash-o"></i></button>
            <button class="pull-left btn btn-xs btn-warning" ng-click="vm.node.discard()" ng-disabled="vm.node.isPristine" data-title="Discard changes" bs-tooltip><i class="fa fa-undo"></i></button>

            <button class="btn btn-xs btn-success pull-right" ng-click="vm.save()" ng-disabled="vm.node.isPristine || vm.node.isSaving" data-title="Save" bs-tooltip><i class="fa fa-check"></i></button>
            <div toggle-zen node="vm.node" popover-title="Distraction free writing" class="btn btn-xs btn-default pull-right"></div>
        </div>
    </div>
</div>
