@import "compass/css3/flexbox";

.collapse_edit_post_directive {
    width: 360px;
    .panel {
        margin: 0px;
        .panel-heading {
            padding: 2px 6px;
            @include display-flex(flex);
            @include justify-content(space-between);
            $line-height: 36px;
            .left-controls {
                width: 14px;
                white-space: nowrap;
                line-height: $line-height; // vertical center
                cursor: pointer;
                padding-right: 5px;
            }
            .center-controls {
                display: block;
                padding-right: 10px;
                a, a:active, a:visited, a:focus {
                    &.editable-click {
                        padding-left: 6px;
                        color: inherit;
                        border: 0;
                        display:block;
                        min-height:$line-height;
                        padding-top: 7px;
                        padding-bottom: 7px;
                        cursor: pointer;
                        word-wrap: break-word;
                    }
                }
                // overwrite bootstrap
                // https://github.com/twbs/bootstrap/blob/b8bc20432f93385989291f2a67112e29b97de682/dist/css/bootstrap.css#L2923-2939
                .form-inline  {
                    width: 100%;
                    .form-group {
                        width: 100%;
                    }
                    .form-control {
                        width: 100%;
                        display: block;
                        padding-left: 5px;
                    }
                }
                .title {
                    width: 280px;
                    padding: 2px;
                    outline: none;
                    border-radius: 3px;
                    border: 2px solid transparent;
                    &.is_invalid {
                        border-color: red;
                    }
                    &[contenteditable='true']:hover{
                        background: #E6E6E6;
                    }
                    &:focus, &:focus:hover  {
                        background: #FFF;
                        box-shadow: 0 1px 5px rgba(0,0,0,0.15) inset;
                    }
                }
            }
            .right-controls {
                width: 60px;
                white-space: nowrap;
                line-height: $line-height; // vertical center
                .modified-indicator {
                    color: #FF8700;
                }
                .tag_circle_container {
                    @include display-flex(flex);
                    @include flex-direction(row);
                    @include align-items(flex-start);
                    @include flex-wrap(wrap);
                    line-height: 0px;
                    width: 100%;
                }
            }
        }
        .panel-body {
            padding: 5px;
            background: #FAFAFA;
            .form-control {
                margin: initial;
            }
            //faster collapse
            &.collapsing {
                transition-duration: 200ms;
            }
        }
    }
}

