<div class="edit_post_directive">
    <div data-title="click to edit" bs-tooltip>
        <h2 contenteditable="true" maxchars="140" focus-me="vm.inputFocus" ng-keydown="vm.redirectEnter($event)" ng-model="vm.node.title" ng-change="vm.node.onChange()" ng-class="{'is_invalid': !vm.node.isValid}" class="title">
        </h2>
    </div>
    <div edit-taglist always-show="{{vm.alwaysShowTagSuggestions}}" set-focus="vm.focusEditClassifications" tags="vm.node.referenceNode ? vm.node.classifications : vm.node.tagClassifications" on-change="vm.node.onChange()" tag-type="classification" existing-only="true"></div>
    <div edit-taglist always-show="{{vm.alwaysShowTagSuggestions}}" set-focus="vm.focusEditTags" tags="vm.node.tags" on-change="vm.node.onChange()"></div>
    <div class="text-center" style="cursor:pointer" ng-click="vm.previewEnabled = !vm.previewEnabled" data-title="preview" bs-tooltip><i class="fa" ng-class="{'fa-eye-slash': vm.previewEnabled, 'fa-eye': !vm.previewEnabled}"></i></div>
    <div ng-switch="vm.previewEnabled" class="description">
        <div ng-switch-when="true" markdown="vm.node.description"></div>
        <div ng-switch-default edit-post-description node="vm.node"></div>
    </div>
</div>
