.edit_post_description {
    .description {
        height: 300px;
    }
    .ace_editor {
        height: 100%;
    }
    .ace_content {
        padding-top: 10px;

        .ace_hidden-cursors {
            opacity: 0;
        }
    }
}
