.post_edit_changes_directive {
    .changerequest {
        border: 1px solid #d1d1d1;
        background-color: #F5F5F5;
        margin-top:5px;
        padding: 5px;
        .btn {
            margin-left: 2px;
        }
    }
    .active {
        color: black !important;
    }
}
