.post_tag_changes_directive {
    .upvote {
        color: green;
        &.active {
            color: black;
        }
    }
    .downvote {
        color: red;
        &.active {
            color: black;
        }
    }
}
