@import "globals";

.small-post {
    display: inline-block;
    border: 1px solid $post_default_border_color;
    border-radius: 4px;
    padding: 1px 7px 1px 7px;
    background-color: white;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    vertical-align: middle;

    margin-bottom: 5px;
    .small-post {
        margin-bottom: 5px !important;
    }

    a, a:link {
        word-wrap: break-word;
        color: black;

        // prevent multi line links to have space between the lines.
        // else hover is flickering and you cannot click between the lines.
        padding-top: 3px;
        padding-bottom: 6px;
    }

    .node_dispatcher {
        margin-left: 5px;
        margin-top: 5px;
        margin-right: -2px; // there is a padding-left: 7px
        .small-post {
            width: 100% !important;
        }
    }

    a:visited {
        // color: #8e8e8e;
    }

    a:hover, a:active {
        color: black;
        text-decoration: underline;
    }

    .node_degree {
        font-weight: bold;
        font-size: 15px;
        cursor: default;
        vertical-align: middle;
    }
    .tag-circle-container-left {
        .tag_symbol_border {
            padding: 1px;
            border-radius: 2px;
            height:18.5px;
            width: 18.5px;
            text-align:center;
        }
        .tag_symbol {
            border: 0 !important;
            background: none !important;
            width: 14px;
            text-align: center;
        }
        .tag_circle_title {
            padding-right: 2px;
        }
    }

    .tag-circle-container-right {
        pointer-events: all;
        height: 20px;
        margin-left: 5px;
        line-height: 10px;
        padding-top: 4px;
        .tag_circle_title {
            display: inline-block;
            padding-left: 1px;
            padding-right: 1px;

            //vertical center
            // font-size: 0;
            vertical-align: middle;
        }
        .tag_symbol {
            line-height: 10px;
            vertical-align: middle;
        }
    }
}
