<span ng-switch="::vm.node.isHyperRelation">
    <div class="node_dispatcher" ng-switch-when="true">
        <div small-post node="vm.node.endNode"></div>
        <div small-post node="vm.node.startNode"></div>
    </div>
    <span ng-switch-default>
        <span class="tag-circle-container-left">
            <span ng-repeat="tag in (vm.node | nodeclassifications:vm.ignoreTags)" class="tag_circle_title" data-title="{{tag.title}}" bs-tooltip>
                <span colored-tag="tag" tagtype="circle" class="tag_symbol"></span>
            </span>
        </span>
        <a ng-bind="vm.node.title" ui-sref="focus({id: vm.node.id})"></a>
        <span class="tag-circle-container-right pull-right">
            <i class="text-muted fa fa-ellipsis-h" ng-if="vm.node.description" data-title="Post has Description" bs-tooltip></i>
            <span ng-repeat="tag in (vm.node | nodecontexts:vm.ignoreTags)" class="tag_circle_title" data-title="{{tag.title}}" bs-tooltip>
                <span colored-tag="tag" tagtype="circle" class="tag_circle"></span>
            </span>
        </span>
    </span>
</span>
