.small_post_directive {
    display: inline-block;
    border: 1px solid;
    border-radius: 4px;
    padding: 1px 7px 1px 7px;
    background-color: white;

    margin-bottom: 5px;

    a, a:link {
        word-wrap: break-word;
        color: #3e3e3e;

        // prevent multi line links to have space between the lines.
        // else hover is flickering and you cannot click between the lines.
        padding-top: 3px;
        padding-bottom: 6px;
    }

    .node_dispatcher {
        margin-top: 5px;
    }

    a:visited {
        color: #8e8e8e;
    }

    a:hover, a:active {
        color: black;
        text-decoration: underline;
    }


    .symbol_tool {
        padding-top: 3px;
        padding-left: 5px;
        cursor: pointer;
    }

    .tag_circle_container {
        margin-left: 5px;
        // adjust vertical center
        padding-bottom: 3px;
        .tag_circle_title {
            display: inline-block;
            padding-left: 1px;
            padding-right: 1px;

            //vertical center
            font-size: 0;
            vertical-align: middle;
            .tag_circle {
                display: inline-block;
                border-radius: 50%;
                width: 12px;
                height: 12px;
            }
        }
    }
}
