.static_edit_post_directive {

    .ace_editor {
        border: 1px solid #CCC;
        border-radius: 3px;
    }

    .description {
        min-height: 500px;
        .edit_post_description_directive {
            height: 500px;
        }
    }

    .buttons {
        margin-bottom: 5px;
    }

    .cancel-button {
        margin-right: 5px;
    }
}
