.static_edit_post_directive {

    .edit-area {
        margin-bottom: 5px;
    }

    .karma-progress {
        background-color: #a4a4a4;
        color: white;
    }

    .button-margin-right {
        margin-right: 5px;
    }
}
