<div class="static_edit_post_directive">
    <div class="buttons">
        <button class="btn btn-sm btn-success pull-right" ng-click="vm.saveNode()" ng-disabled="vm.editNode.isPristine" data-title="save" bs-tooltip><i class="fa fa-check"></i></button>
        <button class="btn btn-sm btn-default pull-right cancel-button" ng-click="vm.onCancel()">Cancel</button>
        <button class="btn btn-sm btn-danger" ng-click="vm.deleteNode()" ng-hide="vm.editNode.isLocal" data-title="delete" bs-tooltip><i class="fa fa-trash-o"></i></button>
    </div>
    <div class="edit-area" edit-post node="vm.editNode"></div>
    <progressbar max="vm.node.postChangeThreshold" type="{{vm.canApply && 'success'}}" value="vm.editWeight"><span style="color:white; white-space:nowrap;">{{vm.canApply ? 'Instant change' : vm.editWeight + '/' + vm.node.postChangeThreshold}}</span></progressbar>
</div>
