.static_edit_post_directive {

    .ace_editor {
        border: 1px solid #CCC;
        border-radius: 3px;
    }

    .buttons {
        margin-bottom: 5px;
    }

    .button-margin-right {
        margin-right: 5px;
    }
}
