@import "globals";
@import "compass/css3/flexbox";

#tag_component {
    height: 100%;
    padding: 0px;
    @include flex-direction(columns);
    @include display-flex(flex);
    .search_box {
        padding-bottom: 10px;
    }
    #tag_list_box {
        border-right: $taglist_border;
        padding-right: 10px;
        width: 350px;
        height: 100%;
        overflow: auto;
        .active > .tag-label {
            border: 2px solid black !important;
            line-height: 20px !important;
        }
        .tag-label {
            display: inline-block;
            margin-bottom: 5px;
        }
    }

    #tag_detail_box {
        padding-right: 40px;
        .small-post {
            width: 100%;
        }
    }

    #tag_ui_view {
        padding-left: 10px;
        @include flex-grow(2);
        width: 100%;
        .tag_ui_nothing {
            margin-left: 30px;
        }
    }
    .tag_list_more {
        margin-top: 20px;
    }
}
