@import "compass/css3/flexbox";

#tag_component {
    height: 100%;
    @include flex-direction(columns);
    @include display-flex(flex);
    .search_box {
        padding-bottom: 10px;
    }
    #tag_list_box {
        padding-right: 10px;
        width: 350px;
        height: 100%;
        overflow: auto;
        .tag-label {
            display: inline-block;
            margin-bottom: 5px;
        }
    }
    #tag_ui_view {
        padding-left: 10px;
        @include flex-grow(2);
        width: 100%;
    }
    .tag_list_more {
        margin-top: 20px;
    }
}
