<div id="tag_component" class="content-component">
    <div id="tag_list_box" infinite-scroll="vm.loadMoreTags()" infinite="vm.infinite" promise="vm.search.results">
        <div class="search_box ">
            <input type="text" placeholder="Search tag" class="form-control" ng-model="vm.search.query" ng-change='vm.refreshSearch()'>
        </div>

        <span ng-repeat="tag in vm.search.results track by tag.id" tag-label="tag"></span>

        <button class="tag_list_more btn btn-default pull-right" ng-click="vm.infinite.manualLoad()" ng-disabled="vm.infinite.loading" ng-hide="vm.infinite.noMore">More</button>
    </div>

    <div id="tag_ui_view" ui-view>
        <h2 class="tag_ui_nothing text-muted">
            Select a tag to start browsing
        </h2>
    </div>
</div>
