#tag_detail_component {
    .header,.tag_editing {
        padding-top: 10px;
        padding-right: 50px;
        padding-left: 50px;
    }
    .text_heading {
        // this corresponds to the height of a tag label. makes normal text align like labels in tab heading
        height: 24px;
        line-height: 24px;
    }
    height: 100%;
    .tabs-above, .tab-content, .tab-pane {
        height: 100%;
    }
    #tag_detail_box {
        padding-top: 10px;
        width: 100%;
        height: 100%;
        overflow: auto;
    }
}
