#tag_detail_component {
    .header {
        margin-right: 50px;
        margin-left: 50px;
    }
    height: 100%;
    #tag_detail_box {
        width: 100%;
        height: 100%;
        overflow: auto;
    }
}
