@import "compass/css3/flexbox";

#focus_view_component {
    @include display-flex(flex);
    @include justify-content(space-between);
    padding: 20px;
    text-align: center;
    #node_view {
        padding: 50px;
    }
    #focus_view_center {
        @include flex-grow(1);
    }
    .discourse_node_list_horizontal {
        .discourse_node_list {
            padding: 6px;
            @include display-flex(flex);
            @include flex-wrap(wrap);
            @include justify-content(center);
        }
    }
    .discourse_node_list_vertical {
        .discourse_node_list {
            padding: 6px;
        }
    }
}
