<div focus-view id="focus_view_component">
    <div ng-if='vm.left' id="left_view">
        <div discourse-node-list node-model='vm.left.model' class="discourse_node_list_vertical"></div>
    </div>
    <div id="focus_view_center">
        <div ng-if='vm.top' id="top_view">
            <div discourse-node-list node-model='vm.top.model' class="discourse_node_list_horizontal"></div>
        </div>
        <div id="node_view">
            <h2>Focus:</h2>
            <div class="panel panel-default" ng-class="vm.nodeInfo.css">
                <div class="panel-heading">
                    <h3 class="panel-title" editable-textarea="vm.node.model.title" e-rows="7" e-cols="40" onaftersave="vm.updateFocused()" style="display:inline;" ng-bind="vm.node.model.title"></h3>
                    <button class="pull-right btn btn-xs btn-danger" ng-click="vm.removeFocused()"><i class="fa fa-trash-o"></i></button>
                </div>
                <div class="panel-body" editable-textarea="vm.node.model.description" e-rows="7" e-cols="40" onaftersave="vm.updateFocused()" ng-bind="vm.node.model.description"></div>
            </div>
        </div>
        <div ng-if="vm.bottom" id="bottom_view">
            <div discourse-node-list node-model='vm.bottom.model' class="discourse_node_list_horizontal"></div>
        </div>
    </div>
    <div ng-if="vm.right" id="right_view">
        <div discourse-node-list node-model='vm.right.model' class="discourse_node_list_vertical"></div>
    </div>
</div>
