//TODO: challenge -> better idea?
//the 400px width refers to the value set in _main.scss
//cannot use a variable with calc :/
#left_hand_side.visible + #right_hand_side #zen_component {
    left: 400px !important;
    width: -moz-calc(100% - 400px) !important;
    width: -webkit-calc(100% - 400px) !important;
    width: calc(100% - 400px) !important;
}
#zen_component {
    padding: 5px;
    text-align: center;
    left: 0px;
    width: 100%;
    position: absolute;
    top: 50px;
    height: 100%;
    z-index: $zindex_zen;
    overflow: auto;
    .zenetized_preview {
        padding: 10px 40px;
        min-height: 100%;
    }
}
