@import "globals";

//TODO: challenge -> better idea?
//the 400px width refers to the value set in _main.scss
//cannot use a variable with calc :/
#left_hand_side.visible + #middle_content #zen_component {
    left: 400px !important;
    width: -moz-calc(100% - 400px) !important;
    width: -webkit-calc(100% - 400px) !important;
    width: calc(100% - 400px) !important;
}
#zen_component {
    padding: 5px;
    left: 0px;
    background: white;
    width: 100%;
    position: absolute;
    top: 50px;
    height: 100%;
    z-index: $zindex_zen;
    overflow: auto;
    .zenetized_preview {
        max-width: 650px;
        margin: auto;
        padding: 10px 40px;
        min-height: 100%;
    }
}
