@import "compass/css3/flexbox";

#sidebar {
    position: absolute;
    right: 0px;
    top: 50px;
    z-index: $zindex_sidebar;
    @include display-flex(flex);
    @include flex-direction(rows);
    #sidebar_toggle {}
    #sidebar_content {
        border: $sidebar_border;
        border-radius: 5px;
        padding: 5px;
    }
}

