@import "compass/css3/flexbox";

#sidebar {
    position: absolute;
    right: 0px;
    top: 50px;
    z-index: 10;
    @include display-flex(flex);
    @include flex-direction(rows);
    #sidebar_toggle {}
    #sidebar_content {
        border: 1px solid $sidebar_border;
        border-radius: 5px;
        padding: 5px;
        &.ng-hide-add {
            @include animation-play-state(paused !important);
            @include animation(fadeOutUp 0.1s);
            display: block !important;
            visibility: hidden;
        }
        &.ng-hide-remove {
            @include animation-play-state(paused !important);
            @include animation(fadeInDown 0.1s);
            display: block !important;
            visibility: hidden;
        }
        &.ng-hide-add.ng-hide-add-active {
            visibility: visible;
            @include animation-play-state(running !important);
        }
        &.ng-hide-remove.ng-hide-remove-active {
            visibility: visible;
            @include animation-play-state(running !important);
        }
    }
}

