@import "compass/css3/flexbox";

#search_component {
    background: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 2px 2px 2px #aaa;
    position: absolute;
    left: 20px;
    right: 20px;
    bottom: 20px;
    top: 50px;
    z-index: 1002;
    @include display-flex(flex);
    #search_results {
        padding: 30px;
        .discourse_post.node {
            margin: 3px;
        }
    }
    #search_options {
        label {
            line-height: 30px;
        }
        background: #eee;
        width: 200px;
        height: 100%;
        padding: 10px;
        border-bottom-left-radius: 10px;
    }
    .search_status {
        font-size: 30px;
        color: #aaa;
        margin-left: 20px;
    }
    &.ng-hide-add {
        @include animation-play-state(paused !important);
        @include animation(fadeOutUp 0.15s);
        display: block !important;
        visibility: hidden;
    }
    &.ng-hide-remove {
        @include animation-play-state(paused !important);
        @include animation(fadeInDown 0.15s);
        display: block !important;
        visibility: hidden;
    }
    //less flickering with webkit:
    //https://github.com/angular/angular.js/issues/8538
    &.ng-hide-add.ng-hide-add-active {
        visibility: visible;
        @include animation-play-state(running !important);
    }
    &.ng-hide-remove.ng-hide-remove-active {
        visibility: visible;
        @include animation-play-state(running !important);
    }
}
