#search_component {
    background: white;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 1001;
    .results {
        padding: 30px;
        .discourse_post.node {
            margin: 3px;
        }
    }
    .search_options {
        background: #EEE;
        width: 150px;
        height: 100%;
        padding: 10px;
        position: absolute;
        top: 0;
        right: 0;
    }
    .search_status {
        font-size: 30px;
        color: #AAA;
        margin-left: 20px;
    }
    &.ng-hide-add {
        @include animation(fadeOutUp 0.3s);
        display: block !important;
    }
    &.ng-hide-remove {
        @include animation(fadeInDown 0.3s);
        display: block !important;
    }
    &.ng-hide-add.ng-hide-add-active, &.ng-hide-remove {
        opacity: 0;
    }
    &.ng-hide-add, &.ng-hide-remove.ng-hide-remove-active {
        opacity: 1;
    }
}
