#search_component {
    background: white;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    padding: 30px;
    z-index: 1001;
    .discourse_post.node {
        margin: 3px;
    }
    .no_results {
        font-size: 30px;
        color: #AAA;
    }
    &.ng-hide-add {
        @include animation(fadeOutUp 0.2s);
        display: block !important;
    }
    &.ng-hide-remove {
        @include animation(fadeInDown 0.2s);
        display: block !important;
    }
    &.ng-hide-add.ng-hide-add-active, &.ng-hide-remove {
        opacity: 0;
    }
    &.ng-hide-add, &.ng-hide-remove.ng-hide-remove-active {
        opacity: 1;
    }
}
