<div ng-show="vm.search.resultsVisible" id="search_component">
    <div id="search_options">
        <label>Descriptions</label>
        <div switch ng-model="vm.search.searchDescriptions" class="pull-right" ng-change="vm.search.triggerSearch"></div>
    </div>
    <div id="search_results">
        <div ng-repeat="result in vm.search.results" small-post node="result"></div>
        <span ng-show="vm.search.results.length === 0 && vm.search.waiting" class="search_status">Searching…</span>
        <span ng-show="vm.search.results.length === 0 && !vm.search.waiting" class="search_status">No results.</span>
    </div>
</div>
