<div ng-show="vm.search.resultsVisible" class="no_flick" id="search_component">
    <div id="search_options">
        <label class="col-md-8">Descriptions</label>
        <span switch class="col-md-4" ng-model="vm.search.searchDescriptions" ng-change="vm.search.triggerSearch"></span>
    </div>
    <div id="search_results">
        <div ng-repeat="result in vm.search.results" small-post node="result"></div>
        <span ng-show="vm.search.results.length === 0 && vm.search.waiting" class="search_status">Searching…</span>
        <span ng-show="vm.search.results.length === 0 && !vm.search.waiting" class="search_status">No results.</span>
    </div>
</div>
