@import "globals";

@import "compass/css3/flexbox";

#search_component {
    position: absolute;
    left: 10px;
    right: 10px;
    top: 50px;
    height: 100%;
    min-height: 520px;
    padding-bottom: 75px;
    z-index: $zindex_search;
    #search_content {
        background: white;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        box-shadow: 0px 2px 2px 2px #aaa;
        height: 100%;
        @include display-flex(flex);
        @include flex-direction(row);
        @include align-items(flex-start);
        @include align-content(stretch);
        #search_results_view {
            height: 100%;
            width: 100%;
            padding-bottom: 42px;
            #search_results {
                padding-left: 20px;
                padding-right: 5px;
                overflow: auto;
                height: 100%;
                width: 100%;
                max-height: 100%;
                .small-post {
                    width: 100%;
                    max-width: 450px;
                    margin-right: 5px;
                }
            }
        }
        #search_options {
            .option {
                @include display-flex(flex);
                @include justify-content(space-between);
            }
            width: 310px;
            min-width: 250px;
            height: 100%;
            background: $history_background_color;
            border-right: 1px solid #d8d8d8;
            padding: 10px;
            border-bottom-left-radius: 10px;
            .input_option {
                margin-top: 4px;
                margin-left: -12px;
            }
            .all_results.btn {
                margin-right: 70px;
            }
            .label_like,label {
                line-height: 30px;
            }
            .tag-editor-directive {
                margin-left: 5px;
                margin-right: 5px;
            }
            .edit_tags {
                padding: 5px;
            }
            .page-size-input {
                width: 70px;
            }
            // #search_options_bottom {
                // width: inherit;
                // position: absolute;
                // padding-left: 70px;
            // }
            .inactive {
                color: #aaa;
            }
        }
        .search_indicator {
            padding: 30px;
            .search_status {
                line-height: 100px;
                font-size: 30px;
            }
        }
    }
}
