<div ng-if="vm.search.resultsVisible" class="ng-trans ng-trans-slide-up ease" id="search_component">
    <div id="search_content">
        <div id="search_options">
            <div class="option">
                <label>Sort order</label>
                <div class="btn-group" style="line-height: 10px;" ng-model="vm.search.sortOrder" bs-radio-group>
                    <label class="btn btn-xs btn-default fa fa-sort-amount-desc" data-title="Sort by Votes" bs-tooltip><input type="radio" ng-click="vm.search.triggerSearch()" class="btn btn-xs btn-default" value="0"> Votes</label>
                    <label class="btn btn-xs btn-default fa fa-sort-amount-asc" data-title="Sort by Time" bs-tooltip><input type="radio" ng-click="vm.search.triggerSearch()" class="btn btn-xs btn-default" value="1"> Time</label>
                </div>
            </div>
            <hr>
            <div class="option">
                <label>Search descriptions</label>
                <div> <span switch ng-model="vm.search.searchDescriptions" ng-change="vm.search.triggerSearch()"></span> </div>
            </div>
            <div class="option">
                <label>Only start posts</label>
                <span switch ng-model="vm.search.searchStartPost" ng-change="vm.search.triggerSearch()"></span>
            </div>
            <div>
                <hr />
                <b>Posts need to have</b>
            </div>
            <div edit-taglist placeholder="All of these Tags" tag-type="taglike" tags="vm.search.tagsAll" class="row edit_tags" existing-only="true" on-change="vm.search.triggerSearch()"></div>
            <div edit-taglist placeholder="One of these Tags" tag-type="taglike" tags="vm.search.tagsAny" class="row edit_tags" existing-only="true" on-change="vm.search.triggerSearch()"></div>
            <div edit-taglist placeholder="None of these Tags" tag-type="taglike" tags="vm.search.tagsWithout" class="row edit_tags" existing-only="true" on-change="vm.search.triggerSearch()"></div>
            <hr>
            <div id="search_options_bottom">
                <!-- <div class="option"> -->
                <!--     <label>#Results</label> -->
                <!--     <span>{{vm.search.results.length}}</span> -->
                <!-- </div> -->
                <div class="option">
                    <label>Page</label>
                    <span class="number_value">{{vm.infinite.currentPage + 1}} / {{vm.infinite.maxPage == -1 ? vm.search.page + 1 + '…' : vm.infinite.maxPage + 1}}</span>
                </div>
                <div class="option">
                    <span class="label_like">Posts per Page</span>
                    <span>
                        <input type="number" class="form-control page-size-input" min="1" max="100" ng-model="vm.search.size" ng-change="vm.search.triggerSearch()" ng-disabled="vm.search.unlimited">
                    </span>
                </div>
                <!-- <div class="option"> -->
                <!--     <span class="label_like">Unlimited</span> -->
                <!--     <span switch ng-model="vm.search.unlimited" ng-change="vm.search.triggerSearch()"></span> -->
                <!-- </div> -->
                <!-- <div class="option"> -->
                    <!-- <button class="all_results pull-right btn btn-default" ng-click="vm.infinite.manualLoad(true)" ng-disabled="vm.infinite.loading || vm.infinite.noMore">All results</button> -->
                <!-- </div> -->
            </div>
        </div>
        <div id="search_results_view">
            <button class="close view_close_button" ng-click="vm.search.resultsVisible = false" type="button" aria-label="Close " data-title="Hide Search" bs-tooltip><span aria-hidden="true">&times;</span></button>
            <!-- TODO: this does break the animation of the search overlay. but the ng-if here would be good, as the small-post would then not trigger any watchers. -->
            <!-- <div ng-if="vm.search.resultsVisible"> -->
            <span class="search_indicator" ng-show="vm.search.results.length === 0">
                <span ng-show="vm.search.waiting && vm.search.query" class="search_status text-muted">Searching…</span>
                <span ng-show="vm.search.waiting && !vm.search.query" class="search_status text-muted">Start typing to search</span>
                <span ng-hide="vm.search.waiting" class="search_status text-muted">No results.</span>
            </span>
            <div id="search_results" infinite-scroll="vm.search.loadMore()" infinite="vm.infinite" promise="vm.search.results">
                <div ng-repeat="result in vm.search.results track by result.id" small-post node="result" on-click="vm.search.resultsVisible = false" ignore-tags="vm.search.tagsAll"></div>
                <button class="btn btn-default pull-right ng-hide" ng-click="vm.infinite.manualLoad()" ng-disabled="vm.infinite.loading" ng-hide="vm.infinite.noMore">More</button>
            </div>
            <!-- </div> -->
        </div>
    </div>
</div>
