<div ng-if="vm.search.resultsVisible" class="ng-trans ng-trans-slide-up ease" id="search_component">
    <div id="search_content">
        <div id="search_options">
            <div class="row">
                <label class="col-md-6">Sort order</label>
                <div class="btn-group" style="line-height: 10px;" ng-model="vm.search.sortOrder" bs-radio-group>
                    <label class="btn btn-xs btn-default fa fa-sort-amount-desc"><input type="radio" ng-click="vm.search.triggerSearch()" class="btn btn-xs btn-default" value="0"> Votes</label>
                    <label class="btn btn-xs btn-default fa fa-sort-amount-asc"><input type="radio" ng-click="vm.search.triggerSearch()" class="btn btn-xs btn-default" value="1"> Time</label>
                </div>
            </div>
            <hr>
            <div class="row">
                <label class="col-md-8">Search descriptions</label>
                <span switch ng-model="vm.search.searchDescriptions" ng-change="vm.search.triggerSearch()"></span>
            </div>
            <div class="row">
                <label class="col-md-8">Only start posts</label>
                <span switch ng-model="vm.search.searchStartPost" ng-change="vm.search.triggerSearch()"></span>
            </div>
            <div edit-taglist placeholder="All Tags" tag-type="taglike" tags="vm.search.tagsAll" class="row edit_tags" existing-only="true" on-change="vm.search.triggerSearch()"></div>
            <div edit-taglist placeholder="Any Tag" tag-type="taglike" tags="vm.search.tagsAny" class="row edit_tags" existing-only="true" on-change="vm.search.triggerSearch()"></div>
            <div edit-taglist placeholder="Without Tags" tag-type="taglike" tags="vm.search.tagsWithout" class="row edit_tags" existing-only="true" on-change="vm.search.triggerSearch()"></div>
            <hr>
            <div id="search_options_bottom">
                <!-- <div class="row"> -->
                <!--     <label class="col-md-4">#Results</label> -->
                <!--     <span class="col-md-6">{{vm.search.results.length}}</span> -->
                <!-- </div> -->
                <div class="row">
                    <label class="col-md-4">Page</label>
                    <span class="number_value col-md-6">{{vm.infinite.currentPage}} / {{vm.infinite.maxPage == -1 ? vm.search.page + '…' : vm.infinite.maxPage}}</span>
                </div>
                <div class="row">
                    <span class="label_like col-md-4">Size</span>
                    <span class="col-md-6">
                        <input type="number" class="input" min="1" max="500" ng-model="vm.search.size" ng-change="vm.search.triggerSearch()" ng-disabled="vm.search.unlimited">
                    </span>
                </div>
                <!-- <div class="row"> -->
                <!--     <span class="label_like col-md-6">Unlimited</span> -->
                <!--     <span switch ng-model="vm.search.unlimited" ng-change="vm.search.triggerSearch()"></span> -->
                <!-- </div> -->
                <!-- <div class="row"> -->
                    <!-- <button class="all_results pull-right btn btn-default" ng-click="vm.infinite.manualLoad(true)" ng-disabled="vm.infinite.loading || vm.infinite.noMore">All results</button> -->
                <!-- </div> -->
            </div>
        </div>
        <div id="search_results_view">
            <button class="close view_close_button" ng-click="vm.search.resultsVisible = false" type="button" aria-label="Close " data-title="Hide Search" bs-tooltip><span aria-hidden="true">&times;</span></button>
            <!-- TODO: this does break the animation of the search overlay. but the ng-if here would be good, as the small-post would then not trigger any watchers. -->
            <!-- <div ng-if="vm.search.resultsVisible"> -->
            <span class="search_indicator" ng-show="vm.search.results.length === 0">
                <span ng-show="vm.search.waiting" class="search_status">Searching…</span>
                <span ng-hide="vm.search.waiting" class="search_status">No results.</span>
            </span>
            <div id="search_results" infinite-scroll="vm.search.loadMore()" infinite="vm.infinite" promise="vm.search.results">
                <div ng-repeat="result in vm.search.results track by result.id" small-post node="result" ignore-tags="vm.search.tagsAll"></div>
                <button class="btn btn-default pull-right ng-hide" ng-click="vm.infinite.manualLoad()" ng-disabled="vm.infinite.loading" ng-hide="vm.infinite.noMore">More</button>
            </div>
            <!-- </div> -->
        </div>
    </div>
</div>
