nav {
    color: $nav_normal_color;
    .nav {
        a:link, a:hover, a:visited, a.active {
            color: $nav_normal_color !important;
        }
        a:hover {
            color: $nav_hover_color !important;
            background-color: $nav_hover_background !important;
        }
        a.active {
            color: $nav_active_color !important;
            background-color: $nav_active_background !important;
        }
    }
}

#navigation {
    background-color: $nav_normal_background;
    border-width: 0px;
    ul.nav li.dropdown:hover > ul.dropdown-menu {
        display: block;
    }
    #node_search_form {
        width: 200px;
    }
    #left_side_toggle {
        margin-right: 10px;
        margin-left: -6px;
    }
}

// threshold for responsiv navbar
@media (max-width: 1024px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    }
    .navbar-collapse.collapse {
        display: none !important;
    }
    .navbar-collapse.collapse.in {
        display: block !important;
    }
    .navbar-nav {
        float: none !important;
    }
    .navbar-nav > li {
        float: none;
    }
    .navbar-nav > li > a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

// display dropdown menu in collapsed navbar above page
// http://stackoverflow.com/questions/20199308/bootstrap-3-nav-dropdown
.navbar-collapse.in {
    overflow-y: visible;
}
