nav {
    color: $nav_fontcolor;
    .nav {
        a:link, a:hover, a:visited, a.active {
            color: $nav_fontcolor !important;
        }
        a:hover, a:visited {
            background-color: #00915C !important;
        }
        a.active {
            background-color: #0078C6 !important;
        }
    }
}

#navigation {
    background-color: $nav_background;
    border-width: 0px;
    ul.nav li.dropdown:hover > ul.dropdown-menu {
        display: block;
    }
}

// display dropdown menu in collapsed navbar above page
// http://stackoverflow.com/questions/20199308/bootstrap-3-nav-dropdown
.navbar-collapse.in {
    overflow-y: visible;
}
