#user_detail_component {
    height: 100%;
    .list-group-item {
        padding: 3px;
        min-height: 42px;
        .show_value {
            padding-top: 7px;
            padding-left: 13px;
        }
    }
    .contributions {
        height: 100%;
        margin-top: 20px;
    }
}
