<div id="user_detail_component">
    <ul class="list-group">
        <li class="list-group-item">
            <span class="badge" ng-bind="vm.user.id"></span>
            Id
        </li>
        <li class="list-group-item">
            <span class="badge" ng-bind="vm.user.name"></span>
            Name
        </li>
    </ul>

    {{vm.contributions}}
    <ul class="list-group">
        <div >
        <li ng-repeat="contribution in vm.contributions" class="list-group-item">
            <span class="badge" ng-bind="contribution.title"></span>
            <span small-post node="contribution.data"></span>
        </li>
    </ul>
</div>
