.view_close_button {
    font-size: 25px;
    padding: 10px;
}

.wust_form {
    input.ng-invalid.ng-touched {
        border: 1px solid red;
    }
    input.ng-valid.ng-touched {
    }
}

input.wust_form_input.ng-invalid.ng-touched {
    border: 1px solid red;
}

// make contenteditable elements work with webkit
// http://stackoverflow.com/questions/4251227/contenteditable-div-not-actually-editable-in-webkit
*[contenteditable] {
    -webkit-user-select: auto !important;
}
