.view_close_button {
    font-size: 25px;
    padding: 10px;
}

.wust_form {
    input.ng-invalid/*.ng-touched*/ {
        border: 1px solid red;
    }
    input.ng-valid.ng-touched {
    }
}

input.wust_form_input.ng-invalid {
    border: 1px solid red;
}
