@mixin discourse_node($bgcolor, $icon: "") {
    $bordercolor: desaturate(darken($bgcolor, 34), 43);
    $bgcolor-highlight: lighten($bgcolor, 13);
    &.node {
        display: inline-block;
        background-color: $bgcolor;
        border: 1px solid $bordercolor;
        border-radius: 4px;
        padding: 0px 15px 0px 12px;
        color: black;
        text-decoration: none;
        @at-root a:hover#{&} {
            background-color: $bgcolor-highlight;
            color: black;
            text-decoration: none;
        }
    }
    &.panel {
        border-color: $bordercolor;
        .panel-heading {
            background-color: $bgcolor;
            border-color: $bordercolor;
        }
    }
    // icons
    &.node, &.panel .panel-heading h3 {
        &:before {
            font-family: FontAwesome;
            content: $icon;
            padding-right: 9px;
        }
    }
}

.discourse_goal {
    @include discourse_node(#6dffb4, "");
}

.discourse_problem {
    @include discourse_node(#ffdc6d, "");
}

.discourse_idea {
    @include discourse_node(#6db5ff, "");
}

.discourse_proargument {
    @include discourse_node(#79ff6d);
}

.discourse_conargument {
    @include discourse_node(#ff6d6f);
}
