@import "compass/css3/flexbox";

@mixin discourse_node($color, $icon: "") {
    $bgcolor: lighten(desaturate($color, 0), 10);
    $bordercolor: desaturate(darken($bgcolor, 34), 43);
    $bgcolor-highlight: lighten(saturate($bgcolor, 10), 10);
    &.node, &.discourse_tag {
        display: inline-block;
        background-color: $bgcolor;
        border: 1px solid $bordercolor;
        border-radius: 4px;
        padding: 0px 15px 0px 12px;
        color: $discourse_node_font_color;
        text-decoration: none;
        &.fixed {
            -moz-box-shadow: 0 0 20px #000000;
            -webkit-box-shadow: 0 0 20px #000000;
            box-shadow: 0 0 20px #000000;
            border: 3px solid black;
        }
    }
    @at-root a:hover#{&}, &.btn:hover, &.panel a:hover .panel-heading {
        background-color: $bgcolor-highlight;
        color: $discourse_node_font_color;
        text-decoration: none;
    }
    &.btn {
        background-color: $bgcolor;
        border: 1px solid $bordercolor;
        color: $discourse_node_font_color;
    }
    &.panel {
        border-color: $bordercolor;
        .panel-heading {
            background-color: $bgcolor;
            border-color: $bordercolor;
            h3 {
                color: $discourse_node_font_color;
                text-align: left;
            }
        }
        margin: 5px;
    }
    // icons
    &.node, &.discourse_tag, &.panel .panel-heading .node, &.btn {
        &:before {
            font-family: FontAwesome;
            content: $icon;
            padding-right: 9px;
        }
    }
    // branch graph
    &.branch_node {
        fill: $bgcolor;
    }
}

.relation_label {
    // font-size: 9px;
    // line-height: 16px;
    background-color: $graph_link_label_bg;
    fill: $graph_link_label_bg;
    display: inline-block;
    border: 1px solid $graph_link_color;
    color: $graph_link_color;
    border-radius: 4px;
    padding: 0px 3px;

    .discourse_node_list & {
        padding: 5px 15px 0px 12px;
        display: block;
        height: 34px;
    }
}

.discourse_tag {
    &.tag__none {
        @include discourse_node(white, ""); //tag
    }
    &.tag_Goal {
        @include discourse_node($discourse_goal_color, ""); //navigation arrow
    }
    &.tag_Problem {
        @include discourse_node($discourse_problem_color, ""); // flask
    }

    &.tag_Idea {
        @include discourse_node($discourse_idea_color, ""); // light bulb
    }

    &.tag_Pro {
        @include discourse_node($discourse_proargument_color, ""); // thumbsup
    }

    &.tag_Con {
        @include discourse_node($discourse_conargument_color, ""); // thumbsdown
    }
}

.discourse_post {
    @include discourse_node($discourse_post_color, ""); // comment
}

.discourse_user {
    @include discourse_node($discourse_user_color, ""); // user
}

.discourse_post_list {
    .drop_post_container.on-drag-enter {
        background-color: #008DFF;
        transition: background-color 0.5s;
    }
    .drop_post_container.on-drag-hover {
        background-color: #73C0FF;
    }
}

.discourse_node_list_horizontal {
    .discourse_node_list {
        .node_model_list {
            padding: 6px;
            @include display-flex(flex);
            @include flex-wrap(wrap);
            @include justify-content(center);
        }
    }
}
.discourse_node_list_vertical {
    .discourse_node_list {
        .node_model_list {
            padding: 6px;
        }
    }
}
