@import "compass/css3/flexbox";

$discourse_goal_color: #6DFFCA;
$discourse_problem_color: #ffdc6d;
$discourse_idea_color: #6db5ff;
$discourse_proargument_color: #9AFF78;
$discourse_conargument_color: #ff6d6f;
$discourse_untyped_color: #D8D8D8;
$discourse_user_color: #FFFFFF;
$font_color: black;

@mixin discourse_node($color, $icon: "") {
    $bgcolor: lighten(desaturate($color, 0),10);
    $bordercolor: desaturate(darken($bgcolor, 34), 43);
    $bgcolor-highlight: lighten(saturate($bgcolor,10), 10);
    &.node {
        display: inline-block;
        background-color: $bgcolor;
        border: 1px solid $bordercolor;
        border-radius: 4px;
        padding: 0px 15px 0px 12px;
        color: $font-color;
        text-decoration: none;
    }
    &.svgnode {
        fill: $bgcolor;
        stroke: $bordercolor;
        stroke-width: 1;
        stroke-linejoin: round;
    }
    @at-root a:hover#{&}, &.btn:hover, &.panel a:hover .panel-heading {
        background-color: $bgcolor-highlight;
        color: $font-color;
        text-decoration: none;
    }
    &.btn {
        background-color: $bgcolor;
        border: 1px solid $bordercolor;
        color: $font-color;
    }
    &.panel {
        border-color: $bordercolor;
        .panel-heading {
            background-color: $bgcolor;
            border-color: $bordercolor;
            h3 {
                color: $font-color;
                text-align: left;
            }
        }
        margin: 5px;
    }
    // icons
    &.node, &.panel .panel-heading h3, &.btn {
        &:before {
            font-family: FontAwesome;
            content: $icon;
            padding-right: 9px;
        }
    }
}

.discourse_goal {
    @include discourse_node($discourse_goal_color, ""); //navigation arrow
}

.discourse_problem {
    @include discourse_node($discourse_problem_color, ""); // flask
}

.discourse_idea {
    @include discourse_node($discourse_idea_color, ""); // light bulb
}

.discourse_proargument {
    @include discourse_node($discourse_proargument_color, ""); // thumbsup
}

.discourse_conargument {
    @include discourse_node($discourse_conargument_color, ""); // thumbsdown
}

.discourse_untyped {
    @include discourse_node($discourse_untyped_color, ""); // comment
}

.discourse_user {
    @include discourse_node($discourse_user_color, ""); // user
}

.discourse_idea_list {
    .node_model_list.on-drag-enter {
        background-color: $discourse_idea_color;
    }
}

.discourse_problem_list {
    .node_model_list.on-drag-enter {
        background-color: $discourse_problem_color;
    }
}

.discourse_goal_list {
    .node_model_list.on-drag-enter {
        background-color: $discourse_goal_color;
    }
}

.discourse_proargument_list {
    .node_model_list.on-drag-enter {
        background-color: $discourse_proargument_color;
    }
}

.discourse_conargument_list {
    .node_model_list.on-drag-enter {
        background-color: $discourse_conargument_color;
    }
}

.discourse_untyped_list {
    .node_model_list.on-drag-enter {
        background-color: $discourse_untyped_color;
    }
}

.discourse_node_list_horizontal {
    .discourse_node_list {
        .node_model_list {
            padding: 6px;
            @include display-flex(flex);
            @include flex-wrap(wrap);
            @include justify-content(center);
        }
    }
}
.discourse_node_list_vertical {
    .discourse_node_list {
        .node_model_list {
            padding: 6px;
        }
    }
}
