@import "compass/css3/flexbox";

#show_discourse_node_list {
    .discourse_idea_list {
        padding: 6px;
        @include display-flex(flex);
        @include flex-wrap(wrap);
        &.on-drag-enter {
            background-color: $discourse_idea_color;
        }
    }
    .discourse_problem_list {
        padding: 6px;
        &.on-drag-enter {
            background-color: $discourse_problem_color;
        }
    }
    .discourse_goal_list {
        padding: 6px;
        &.on-drag-enter {
            background-color: $discourse_goal_color;
        }
    }

    .on-drag-hover:after {
        content: 'Drop to connect';
        display: block;
        color: white;
        font-size: x-large;
        font-weight: 800;
    }
}
