@function bordercolor($bgcolor) {
    @return desaturate(darken($bgcolor, 34), 43)
}

@function highlightbgcolor($bgcolor) {
    @return lighten(saturate($bgcolor, 10), 10);
}

$graph_relation_color: #666;
$graph_relation_label_bg: white;

$dashboard_recent_header_border: #6db5ff;

//TODO: use bootstrap variables
$nav_normal_color: white;
$nav_normal_background: #343434;
$nav_active_color: black;
$nav_active_background: white;
$nav_hover_color: black;
$nav_hover_background: #d8d8d8;

$sidebar_border: 1px solid  #d8d8d8;
$stream_border: 2px solid  #d8d8d8;

//TODO: how to assure that this is not equal to the tagcolor?
$vote_button_color: #6B6B6B;
$vote_button_hover_color: white;
$vote_button_active_color: black;

$zindex_search: 1010;
$zindex_zen: 1001;
$zindex_sidebar: 10;
$zindex_left_side_toggle: 1002;
$zindex_post_preview_frame: 300;
$zindex_fiter_input: 200;
