$discourse_goal_color: #6DFFCA;
$discourse_problem_color: #ffdc6d;
$discourse_idea_color: #6db5ff;
$discourse_proargument_color: #9AFF78;
$discourse_conargument_color: #ff6d6f;
$discourse_post_color: #D8D8D8;

$discourse_user_color: #FFFFFF;

$discourse_node_font_color: black;
$graph_link_color: #666;
$graph_link_label_bg: white;

$nav_background: #343434;
$nav_fontcolor: white;
