@function bordercolor($bgcolor) {
    @return desaturate(darken($bgcolor, 34), 43)
}

@function highlightbgcolor($bgcolor) {
    @return lighten(saturate($bgcolor, 10), 10);
}

$border_radius: 4px;

$discourse_goal_color: #6DFFCA;
$discourse_problem_color: #ffdc6d;
$discourse_idea_color: #6db5ff;
$discourse_proargument_color: #9AFF78;
$discourse_conargument_color: #ff6d6f;
$discourse_post_color: #D8D8D8;

$discourse_user_color: #FFFFFF;

$discourse_node_font_color: black;
$graph_link_color: #666;
$graph_link_label_bg: white;

//TODO: use bootstrap variables
$nav_normal_color: white;
$nav_normal_background: #343434;
$nav_active_color: black;
$nav_active_background: white;
$nav_hover_color: black;
$nav_hover_background: #d8d8d8;

$sidebar_border: 1px solid  #d8d8d8;

$vote_button_hover_color: #343434;
