#graph_view {
    overflow: hidden;
    height: 100%;
    .graph_network {
        height: 100%;
    }
    .link {
        fill: none;
        stroke: #666;
        stroke-width: 1.5px;
    }
    .nodelabel {
        cursor: pointer;
    }
}
