#graph_view {
    overflow: hidden;
    height: 100%;
    .graph_network {
        height: 100%;
    }
    .svglink {
        fill: none;
        stroke: #666;
    }
    .nodelabel {
        cursor: pointer;
    }
}
