#home_container {
    padding: 20px;
    text-align: center;
    #carousel {
        #slide {
            height: 600px;
            #create_new {}
            #existing_list {
                padding: 50px;
            }
        }
    }
}
