#home_container {
    height: inherit;
    text-align: center;
    #carousel {
        min-height: 100%;
        #slide_stripe {
            margin: 5px;
        }
        #create_new {
            padding: 10px;
        }
        #existing_list {
            padding: 30px;
        }
    }
}
