#home_container {
    height: inherit;
    text-align: center;
    #carousel {
        height: inherit;
        #slide_stripe {
            margin: 5px;
            height: 20px;
        }
        #create_new {
            padding: 10px;
        }
        #existing_list {
            padding: 30px;
        }
    }
}
