    input[type="text"].underline_input {
        padding: 10px;
        border: none;
        border-bottom: solid 2px #c9c9c9;
        transition: border 0.3s;
    }
    input[type="text"]:focus.underline_input,
    input[type="text"].focus.underline_input {
        border-bottom: solid 2px #969696;
        outline: 0;
    }
