@mixin animation($type) {
    -webkit-animation: $type;
    -moz-animation: $type;
    -ms-animation: $type;
    -o-animation: $type;
    animation: $type;
}

@mixin transform($type) {
    -webkit-transform: $type;
    -moz-transform: $type;
    -ms-transform: $type;
    -o-transform: $type;
    transform: $type;
}
