nav {
    color: white;
    .nav {
        a:link, a:hover, a:visited, a.active {
            color: white !important;
        }
        a:hover, a:visited {
            background-color: seagreen !important;
        }
        a.active {
            background-color: #005ca3 !important;
        }
    }
}

#navigation {
    background-color: #3b444b;
    border-width: 0px;
    ul.nav li.dropdown:hover > ul.dropdown-menu {
        display: block;
    }
}

// display dropdown menu in collapsed navbar above page
// http://stackoverflow.com/questions/20199308/bootstrap-3-nav-dropdown
.navbar-collapse.in {
    overflow-y: visible;
}
