@import "compass/css3/flexbox";
@import "compass/css3";

h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
    line-height: 45px;
}

h2 {
    text-align: center;
    font-size: 24px;
    line-height: 36px;
}

html, body {
    margin: 0px;
    font-family: 'Droid Sans', Helvetica, Arial, sans-serif;
    font-size: 14px;
    height: 100%;
    overflow: hidden;
    main {
        height: inherit;
        padding-top: 50px;
        overflow: hidden;
        #main_view {
            height: inherit;
            @include display-flex(flex);
            @include flex-direction(columns);
            #left_hand_side, #right_hand_side {
                height: inherit;
                #content_view, #scratchpad_view {
                    height: inherit;
                    & > .ng-scope {
                        height: inherit;
                    }
                }
            }
            #left_hand_side {
                @include flex-grow(0);
                width: 0px;
                overflow-y: auto;
                transition: width 0.1s ease;
                &.visible {
                    width: 400px;
                }
                resize: horizontal;
            }
            #right_hand_side {
                @include flex-grow(1);
                min-width: 600px;
                transition: width 0.1s ease;
            }
        }
    }
    #noscriptmsg {
        margin: 20px auto;
        width: 300px;
        background-color: seagreen;
        color: white;
        text-align: center;
    }
}

