h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
    line-height: 45px;
}

h2 {
    text-align: center;
    font-size: 24px;
    line-height: 36px;
}

html, body {
    margin: 0px;
    font-family: 'Droid Sans', Helvetica, Arial, sans-serif;
    font-size: 14px;
    min-width: 600px;
    height: 100%;
    main {
        height: inherit;
        padding-top: 50px;
        #main_view {
            height: inherit;
            position: relative;
            .ui-layout-container {
                height: inherit;
                #content_view, #scratchpad_view {
                    height: inherit;
                    & > .ng-scope {
                        height: inherit;
                        overflow: auto;
                    }
                }
            }
            .route_animation > .ng-enter {
                @include animation(fadeIn 0.5s);
            }
        }
    }
    #noscriptmsg {
        margin: 20px auto;
        width: 300px;
        background-color: seagreen;
        color: white;
        text-align: center;
    }
}
