h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
    line-height: 45px;
}

h2 {
    text-align: center;
    font-size: 24px;
    line-height: 36px;
}

html, body {
    font-family: 'Droid Sans', Helvetica, Arial, sans-serif;
    font-size: 14px;
    margin: 0px;
    min-width: 600px;
    height: 100%;
    main {
        height: inherit;
        padding: 50px 0px 30px 0px;
        #main_layout_view {
            height: inherit;
            position: relative;
            #main_view {
                height: 100%;
                & > .ng-scope {
                    height: inherit;
                }
            }
            .route_animation > .ng-enter {
                $time: 0.5s;
                -webkit-animation: fadeIn $time;
                -moz-animation: fadeIn $time;
                -ms-animation: fadeIn $time;
                -o-animation: fadeIn $time;
                animation: fadeIn $time;
                // TODO: why is it not working with compass?
                // @import "compass/css3/animation";
                // @include animation(fadeIn, 5.5s);
            }
        }
    }
    #noscriptmsg {
        margin: 20px auto;
        width: 300px;
        background-color: seagreen;
        color: white;
        text-align: center;
    }
}
