.tag {
    font-weight: bold;
    display: inline-block;
    height: 24px;
    margin: 0 7px 0 0;
    padding: 0 5px;
    border-radius: 2px;
    font-size: 14px;
    line-height: 24px;
    cursor: default;
    * {
        color: inherit;
    }
}

.tag:hover {
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

