.tag {
    font-weight: bold;
    display: inline-block;
    height: 24px;
    margin: 0 7px 0 0;
    padding: 0 5px;
    border-radius: 2px;
    font-size: 14px;
    line-height: 24px;
    cursor: default;
    * {
        color: inherit;
    }
}

.tag:hover {
    a {
        color: inherit;
        text-decoration: none;
    }
    cursor: pointer;
}

