@import "colors";

@mixin discourse_nodes($bgcolor) {
    display: inline;
    background-color: $bgcolor;
    border: 1px solid desaturate(darken($bgcolor, 34), 43);
    border-radius: 4px;
    padding: 5px;
}

.discourse_goals {
    @include discourse_nodes(#6dffb4);
}

.discourse_problems {
    @include discourse_nodes(#ffdc6d);
}

.discourse_ideas {
    @include discourse_nodes(#6db5ff);
}

.discourse_proarguments {
    @include discourse_nodes(#79ff6d);
}

.discourse_conarguments {
    @include discourse_nodes(#ff6d6f);
}
