@import "base";

nav .navbar-left {
    padding-left: 100px;
}

nav .nav a.active {
    background-color: $blue !important;
    color: white !important;
}

nav .nav a:hover, a:visited {
    background-color: $green !important;
    color: white !important;
}

#navigation {
    background-color: $dark;
    border-width: 0px;
    ul.nav li.dropdown:hover > ul.dropdown-menu {
        display: block;
    }
}
