.graph_view_component {
    overflow: hidden;
    height: 100%;
    position: relative;
    .graph_network {
        height: 100%;
    }
    #filter_input {
        width: 30%;
        position: absolute;
    }
    line, path {
        &.svglink {
            fill: none;
            stroke: $graph_link_color;
            stroke-width: 1;
            stroke-linecap: round;
        }
    }
    marker path.svglink {
        fill: $graph_link_color !important;
    }
    .loading_indicator {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 150px;
        height: 150px;
        margin: -100px 0px 0px -75px;
    }
}
