<div class="tag-editor-directive">
    <div class="tag-editor" ng-class="{active:focus}" ng-init="focus = false" ng-click="setFocus = true">
        <div class="tag-draft">
            <span class="tag" ng-repeat="tag in tags" colored-tag-fill="tag">
                <span ng-bind="tag.title"></span>
                <span class="remove" ng-click="remove($index); $event.stopPropagation();">x</span>
            </span>
            <input type="text" class="tag-input" placeholder="Add Tags" ng-focus="focus = true" ng-blur="focus = false" focus-me="setFocus" ng-model="search"/>
        </div>
        <div class="tag-suggestions" ng-show="suggestions && (alwaysShow || focus)">
            <span class="title">Suggestions:</span>
            <span class="tag" ng-repeat="tag in suggestions track by tag.id" colored-tag-fill="tag" ng-mousedown="add(tag)" ng-bind="tag.title"></span>
        </div>
    </div>
</div>
