.graph_view_component {
    overflow: hidden;
    height: 100%;
    position: relative;
    .graph_network {
        height: 100%;
        svg {
            height: 100%;
            width: 100%;
        }
    }
    #filter_input {
        width: 30%;
        position: absolute;
        z-index:100;
    }
    line, path {
        &.svglink {
            fill: none;
            stroke: $graph_link_color;
            stroke-width: 1;
            stroke-linecap: round;
        }
    }
    marker path.svglink {
        fill: $graph_link_color !important;
    }
}
