@import "compass/css3/transform";
@import "compass/css3/box-shadow";

.graph_view_component {
    overflow: hidden;
    height: 100%;
    position: relative;
    #filter_input {
        width: 30%;
        position: absolute;
        z-index: $zindex_fiter_input;
    }
    .graph_network {
            height: 100%;
            svg {
                height: 100%;
                width: 100%;
                position:absolute;
                #svgContainer {
                    visibility: hidden; // will be shown when converged
                    &.converged {
                        visibility: visible;
                    }
                }
            }
            #d3Html {
                position: absolute;
                #htmlContainer {
                    // zoom fix: html initially has its origin centered, svg has (top left)
                    @include apply-origin(top left, false); // 3D = false
                    visibility: hidden; // will be shown when converged
                    &.converged {
                        visibility: visible;
                    }
                }
            }
        .connectorline {
            fill: none;
            stroke: #3B85FF;
            stroke-width: 5;
            stroke-linecap: round;
            stroke-dasharray: 10 10;
            visibility: hidden;
            &.moving {
                visibility: visible;
            }
        }
        marker path.connectorlinearrow {
            fill: #3B85FF !important;
        }

        .nodecontainer {
            .nodeframe {
                z-index: 95;
            }
            .fixed.nodeframe {
                z-index: 100;
            }
            .moving.nodeframe {
                z-index: 110;
            }

            .fixed .node {
                @include box-shadow(0 0 0 5px #9A9A9A);
                // outline: 5px solid #DDD;
                // border-color: #000 !important; // important, because of the colored borders set for every element
                border-width: 2px;
                padding: 0.5px 14px 0px 11px; // -1px in width/height because of 1px more border
            }

            .fixed .hyperrelation {
                border-radius: $node_border_radius;
                @include box-shadow(0 0 0 7px #9A9A9A);
            }

            .moving .node {
                // dark shadow
                @include box-shadow(0 5px 20px #333);
                border-color: #000;
                border-width: 2px;
                padding: 0.5px 14px 0px 11px; // -1px in width/height because of 1px more border //TODO: use border-box instead
            }
            .moving .hyperrelation {
                // dark shadow
                @include box-shadow(0 5px 20px #333);
            }
            .selected .node {
                background-color: #BCEFFF;
            }
            .selected .hyperrelation {
                background-color: #BCEFFF;
            }
            .node .nodetags {
                width: 100px;
                position: absolute;
                top: 5px;
                right: -90px;
                cursor: default;
            }
            .hyperrelation .nodetags {
                // bootstrap labels have strange surrounding spaces
                // this fixes the box-shadow when fixed
                margin-top: -2px;
                margin-right: -2px;
            }

            .nodetools {
                position: absolute;
                top: -32px;
                left: -6px;
                width: 120px; // to not break line of tool symbols
                // z-index: -1;

                // $bgcolor: #C3E8FF;
                // background: rgba($bgcolor, 0.2);
                // border: 1px solid bordercolor($bgcolor);
                // border-radius: $border_radius;
                // .nodetool:hover {
                //     background-color: highlightbgcolor($bgcolor)
                // }

                .nodetool {
                    padding: 8px;
                    display: inline-block;
                    // display: inline-block;
                    // border: 1px solid #EEE;
                }
                .pintool {
                    @include transform(translate(0px, 0px) rotate(45deg));
                    cursor: pointer;
                }

                .connecttool {
                    @include transform(rotate(-45deg));
                    font-size: 130%; // larger symbol
                    padding: 5px;
                    cursor: crosshair;
                    .event-offset-rotate-fix {
                        // backrotated transparent overlay to fix event.offsetX
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        background:transparent;
                        top:0;
                        left:0;
                        @include transform(rotate(45deg)); // reverse rotation
                    }
                }

                .disconnecttool {
                    cursor: pointer;
                    display: none;
                }

                .replytool {
                    cursor: pointer;
                }

                .deletetool {
                    cursor: pointer;
                }

            }
            .nodeframe-hyperrelation {
                .connecttool, .deletetool {
                    display: none;
                }
                .disconnecttool, .replytool {
                    display: inline-block;
                }
            }
            .fixed {
                .pintool {
                    @include transform(translate(0px, 0px) rotate(0deg));
                    opacity: 1 !important;
                }
            }
        }

        .nodeframe {
            position: absolute; // needed for z-index (moving/fixed have higher z-index)
            .node {
                cursor: pointer;
                .nodecontent {
                    max-width: 150px;
                    word-wrap: break-word;
                }
            }
        }

        // no hover
        .nodeframe {
            .nodetools {
                .nodetool {
                    opacity: 0.2;
                }
            }
        }
        // node hover
        .nodeframe:hover {
            .nodetools {
                .nodetool {
                    opacity: 1;
                }
                // single tool hover
                .nodetool:hover {
                    opacity: 1;
                }
            }
        }

        .hyperrelation {
            display: inline-block;
            border: 0;
            color: $graph_relation_color;
            padding: 0;
            margin: 0;
            cursor: pointer;

            .nodecontent {
                display:block;
                width:100%;
                height:100%;
            }
        }
        .popover {
            margin: 0px;
        }
        line, path {
            &.svgrelation {
                fill: none;
                stroke: $graph_relation_color;
                stroke-width: 1;
                stroke-linecap: round;
            }
        }
        marker path.svgrelation {
            fill: $graph_relation_color !important;
        }

    }
    .post-preview-frame {
        position: absolute;
        width: 30%;
        min-width: 300px;
        max-width: 500px;
        z-index: $zindex_post_preview_frame;
        background: #FEFEFE;

        &.right { right: 0; }
        &.left { left: 0; }
        &.top { top: 0; }
        &.bottom { bottom: 0; }

        .post-preview {
            margin: 15px;
            @include box-shadow(0 0 20px #555);
            border: 1px solid #DDD;
            border-radius: 5px;
            padding: 10px;
            word-wrap: break-word;
        }
    }
}
