@import "compass/css3/transform";
@import "compass/css3/box-shadow";

.graph_view_component {
    overflow: hidden;
    height: 100%;
    position: relative;
    .graph_network {
        height: 100%;
        svg {
            height: 100%;
            width: 100%;
            position:absolute;
            #svgContainer {
                visibility: hidden; // will be shown when converged
                &.converged {
                    visibility: visible;
                }
            }
        }
        #d3Html {
            position: absolute;
            #htmlContainer {
                // zoom fix: html initially has its origin centered, svg has (top left)
                @include apply-origin(top left, false); // 3D = false
                visibility: hidden; // will be shown when converged
                &.converged {
                    visibility: visible;
                }
            }
        }
    }
    #filter_input {
        width: 30%;
        position: absolute;
        z-index:200;
    }
    .popover {
        margin: 0px;
    }
    line, path {
        &.svglink {
            fill: none;
            stroke: $graph_link_color;
            stroke-width: 1;
            stroke-linecap: round;
        }
    }
    marker path.svglink {
        fill: $graph_link_color !important;
    }

    .post-preview-frame {
        position: absolute;
        width: 30%;
        z-index: 300;

        &.right { right: 0; }
        &.left { left: 0; }
        &.top { top: 0; }
        &.bottom { bottom: 0; }

        .post-preview {
            h2 {
                font-size: 20px;
                line-height: 20px;
                margin-top: 0;
                padding-top: 5px;
                text-align: left;
            }
            margin: 15px;
            @include box-shadow(0 0 20px #555);
            background: #F5F5F5;
            border: 1px solid #DDD;
            border-radius: 5px;
            padding: 10px;
        }
    }
}
