#footer {
    z-index: 1001;
    padding: 3px;
    position: fixed;
    bottom: 0;
    height: 30px;
    width: 100%;
    background-color: #3b444b;
    color: white;
    .node {
        padding: auto;
    }
}
