@import "compass/css3/flexbox";

.collapse_edit_post_directive {
    .panel {
        margin: 0px;
        .panel-heading {
            min-height: 55px;
            @include display-flex(flex);
            @include justify-content(space-between);
            $center-line: 35px;
            .left-controls {
                white-space: nowrap;
                line-height: $center-line; // vertical center
            }
            .center-controls {
                width: 100%;
                border: 1px solid blue;
                padding-right: 10px;
                .editable-click {
                    line-height: $center-line; // vertical center
                    padding-left: 6px;
                    color: inherit;
                    border: 0;
                }
                input, form {
                    width: 100%;
                }
            }
            .right-controls {
                width: 30px;
                white-space: nowrap;
                line-height: $center-line; // vertical center
            }
        }
    }
}

