@import "compass/css3/flexbox";

.edit_post_directive {
    & > div {
        padding: 5px;
    }
    .panel {
        margin: 0px;
    }
    .ace_editor {
        margin: 5px;
        height: 150px;
    }
}
