.small_post_directive {
    .node {
        max-width: 75%;
        word-wrap: break-word;
        display: inline-block;
        border: $node_border;
        border-radius: $node_border_radius;
        padding: 1px 7px 1px 7px;
        text-decoration: none;
        a:hover, .btn:hover, .panel a:hover .panel-heading {
            text-decoration: none;
        }
    }
    .tag_circle_container {
        display: inline-block;
        margin-left: 5px;
        // adjust vertical center
        padding-bottom: 3px;
        .tag_circle_title {
            display: inline-block;
            padding-left: 1px;
            padding-right: 1px;

            //vertical center
            font-size: 0;
            vertical-align: middle;
            .tag_circle {
                display: inline-block;
                border-radius: 50%;
                width: 12px;
                height: 12px;
            }
        }
    }
}
