<div class="big_post_directive" colored-tag-node="vm.node">
    <h2 ng-bind="vm.node.title"></h2>
    <span class="fa fa-pencil pull-right" style="cursor:pointer" ng-click="vm.updateFocused()" data-title="edit post" bs-tooltip animation=""></span>
    <div class="timestamp"><span show-timestamp node="vm.node"></span></div>
    <div big-taglist node="vm.node" class="taglist"></div>
    <span toggle-zen node="vm.node" class="pull-right" ng-show="vm.node.description"></span>
    <div class="post_description" markdown="vm.node.description" ng-show="vm.node.description"></div>
    <div class="replytool fa fa-reply pull-right" style="cursor:pointer" ng-click='vm.replyTo(vm.node)' data-title="reply" bs-tooltip animation=""></div>
</div>
