<div class="collapse_edit_post_directive">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="pull-left left-controls">
                <i ng-click="vm.node.expandedEditor = !vm.node.expandedEditor" class="accordion_toggle glyphicon" ng-class="{'glyphicon-chevron-down': vm.node.expandedEditor, 'glyphicon-chevron-right': !vm.node.expandedEditor}"></i>
            </div>

            <div class="center-controls" data-title="click to edit" bs-tooltip animation="" ui-draggable="true" drag="vm.node.encode ? vm.node.encode() : vm.node" drag-channel="{{(!vm.node.isLocal || vm.node.canSave) ? (vm.node.id === undefined ? 'scratch_create_connect' : 'scratch_connect') : 'move'}}" class="node">
                <a editable-text="vm.node.title" ng-bind="vm.node.title" onaftersave="vm.node.save();vm.node.onChange();" buttons="no" e-placeholder="TL;DR">
                </a>
            </div>
            <div class="pull-right right-controls">
                <i ng-if="vm.node.isLocal" class="fa fa-asterisk modified-indicator" data-title="this post contains unsaved changes" bs-tooltip animation=""></i>
            </div>
            <button class="close" ng-click="vm.node.remove()" type="button" aria-label="Close " data-title="remove from scratchpad (not delete)" bs-tooltip animation=""><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="panel-body" collapse="!vm.node.expandedEditor">
            <div edit-post node="vm.node"></div>
            <button class="pull-left btn btn-xs btn-danger" ng-click="vm.node.deleteNode();" ng-hide="vm.node.isLocal" data-title="delete" bs-tooltip animation=""><i class="fa fa-trash-o"></i></button>
            <button class="pull-left btn btn-xs btn-warning" ng-click="vm.node.discard()" ng-hide="vm.node.isPristine" data-title="discard changes" bs-tooltip animation=""><i class="fa fa-undo"></i></button>
            <button class="btn btn-xs btn-success pull-right" ng-click="vm.node.save()" ng-hide="!vm.node.canSave" data-title="save" bs-tooltip animation=""><i class="fa fa-check"></i></button>
            <div toggle-zen node="vm.node" class="text-center"></div>
        </div>
    </div>
</div>
