<div class="edit_post_directive">
    <div class="edit_tags">
        <div edit-taglist node="vm.node" class="taglist"></div>
    </div>
    <div ui-ace="vm.ace.options" ng-model="vm.node.description" class="form-control"></div>
    <button class="pull-left btn btn-xs btn-danger" ng-click="vm.node.deleteNode();" ng-hide="vm.node.isLocal" data-title="discard changes" bs-tooltip animation=""><i class="fa fa-trash-o"></i></button>
    <button class="pull-left btn btn-xs btn-warning" ng-click="vm.node.discard()" ng-hide="vm.node.isPristine" data-title="delete" bs-tooltip animation=""><i class="fa fa-undo"></i></button>
    <button class="btn btn-xs btn-success pull-right" ng-click="vm.node.save()" ng-hide="!vm.node.canSave" data-title="save" bs-tooltip animation=""><i class="fa fa-check"></i></button>
</div>
