<div class="edit_post_directive">
    <div class="panel panel-default">
        <div class="panel-heading">
            <i ng-if="vm.node.id === undefined" class="fa fa-asterisk"></i>
            <span small-post node="vm.node"></span>
            <button class="pull-right btn btn-xs btn-danger" ng-click="vm.node.remove()"><i class="fa fa-minus"></i></button>
            <button class="pull-right btn btn-xs btn-success" ng-click="vm.node.save()" ng-disabled="vm.node.isPristine()"><i class="fa fa-floppy-o"></i></button>
            <span class="pull-right" toggle-zen node="vm.node"></span>
        </div>
        <div ui-ace="vm.ace.options" ng-model="vm.node.description"></div>
        <div class="edit_title">
            <input type="text" class="underline_input" ng-model="vm.node.title" ng-blur="vm.node.onChange()" placeholder="TL,DR">
        </div>
        <div class="edit_tags">
            <label>Tags:</label>
            <div edit-taglist node="vm.node" class="taglist"></div>
        </div>
    </div>
</div>
