<div class="static_edit_post_directive">
    <div data-title="click to edit" bs-tooltip animation="">
        <h2 editable-textarea="vm.node.title" e-ng-keydown="vm.redirectEnter($event)" ng-bind="vm.node.title" onaftersave="vm.node.onChange()" e-ng-change="vm.editableChange($data)" blur="submit" buttons="no" e-placeholder="TL;DR" e-required ng-class="{'is_invalid': !vm.node.isValid}" e-class="wust_form_input">
        </h2>
    </div>
    <div class="pull-right" style="cursor:pointer" ng-click='vm.previewEnabled = !vm.previewEnabled' data-title='preview' bs-tooltip animation=''><i class="fa" ng-class="{'fa-eye-slash': vm.previewEnabled, 'fa-eye': !vm.previewEnabled}"></i></div>
    <div>
        <div edit-taglist set-focus="vm.focusEditTags" tags="vm.node.tags" on-change="vm.node.onChange()"></div>
        <div ng-switch="vm.previewEnabled" class="description">
            <div ng-switch-when="true" markdown="vm.node.description"></div>
            <div ng-switch-default edit-post node="vm.node"></div>
        </div>
        <button class="btn btn-xs btn-success pull-right" ng-click="vm.node.save()" ng-hide="!vm.node.canSave" data-title="save" bs-tooltip animation=""><i class="fa fa-check"></i></button>
        <button class="btn-xs btn-danger" ng-click="vm.node.deleteNode();" ng-hide="vm.node.isLocal" data-title="delete" bs-tooltip animation=""><i class="fa fa-trash-o"></i></button>
        <button class="btn btn-xs btn-warning" ng-click="vm.node.discard()" ng-hide="vm.node.isPristine" data-title="discard changes" bs-tooltip animation=""><i class="fa fa-undo"></i></button>
    </div>
</div>
