@import play.api.Play.current

@if(play.api.Play.mode == play.api.Mode.Prod) {
    @inspectlet()
}

<link rel="icon" type="image/png" href='@routes.Assets.versioned("images/favicon.png")'>

@if(play.api.Play.mode == play.api.Mode.Prod) {
    <link rel="stylesheet" media="screen" href='@routes.Assets.versioned("main.css")'>
    <script src='@routes.Assets.versioned("main.js")'></script>
} else {
    <link rel="stylesheet" media="screen" href='http://localhost:4300/localhost:4200/main.css'>
    <script src='http://localhost:4300/localhost:4200/main.js'></script>
}

@playscalajs.html.jsdeps(projectName = "scalajs")
@playscalajs.html.selectScript(projectName = "scalajs")
@{/*playscalajs.html.launcher(projectName = "scalajs")*/}
