main {
    height: inherit;
    padding-top: 50px;
    overflow: hidden;
    #main_view {
        height: inherit;
        @include display-flex(flex);
        @include flex-direction(columns);
        #left_hand_side, #right_hand_side {
            height: inherit;
            #content_view {
                height: inherit;
            }
        }
        #left_hand_side {
            @include flex-grow(0);
            width: 0px;
            min-width: 0px;
            overflow-y: auto;
            transition: all 0.1s ease;
            border-right: $sidebar_border;
            &.visible {
                width: 400px;
                min-width: 400px;
            }
            // resize: horizontal;
            // // fixes inherited resize property in webkit
            // * {
            //     resize: none;
            // }

        }
        #right_hand_side {
            #left_side_toggle {
                position: fixed;
                top: 80px;
            }
            @include flex-grow(1);
            min-width: 600px;
            transition: width 0.1s ease;
            overflow: auto;
        }
    }
}

