<div navigation ng-cloak></div>
<main role="main">
    <div id="main_view">
        <div id="left_hand_side" visible-left-side>
            <div scratchpad></div>
        </div>
        <div id="right_hand_side">
            <button drop-channel="create_connect,connect" ui-on-Drop="vm.editNode($data)" id="left_side_toggle" type="button" class="drop_post_container btn btn-default fa" ng-class="{'fa-arrow-right':!vm.leftSide.visible, 'fa-arrow-left':vm.leftSide.visible}" onclick="this.blur()" ng-click="vm.leftSide.visible = !vm.leftSide.visible"></button>
            <div zen></div>
            <div search></div>
            <div route-loading-indicator></div>
            <div id="content_view" ng-hide='isRouteLoading' ui-view></div>
        </div>
    </div>
</main>
