<li><a ui-sref="home" class="navbar-brand" ui-sref-active="active"><i class="fa fa-comments"></i> Wust</a></li>
<li><a ui-sref="help" ui-sref-active="active"><i class="fa fa-question"></i> Help</a></li>
